<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>{{ title }} | SkillsForge</title>

    <link rel='icon' href='/imgs/favicon.ico' type='image/x-icon'/ >
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../sass/main.css">
  </head>
  
  <body>       
    
    <header>
      {% include './components/signOut-info.njk' %}
      {% include './components/nav.njk' %}
    </header>

    <main class="ears">
      {% block main %}
      {% endblock %}
    </main>

    {% include './components/footer.njk' %}

    <script>
      window.onload = function(){
        voucherCheck();
        {% block windowOnLoad %}
        {% endblock %}
       };

      {% block javaScript %}
      {% endblock %}

      function expandMenu(){
        var displayVal = document.getElementById('navList');
        if (displayVal.classList.contains('display')){
          displayVal.classList.remove('display');
        } else {
          displayVal.classList.add('display');
        }
      }

      function voucherCheck(){

        if (window.localStorage.getItem('allOrders')!==null){

          var allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
          console.log(allOrders.length);

          var bookedCourses = [];
          for (let i=0; i < allOrders.length; i++){
            var thisItemKeyNames = [];
            thisItemKeyNames = Object.keys(allOrders[i]);
            for (let j=0; j < thisItemKeyNames.length; j++){
              if (thisItemKeyNames[j].includes("item")){
                console.log(thisItemKeyNames[j]);
                console.log(allOrders[i][thisItemKeyNames[j]].voucherUsed);
                window.localStorage.setItem('vouchersRemaining', 1);
                if (allOrders[i][thisItemKeyNames[j]].voucherUsed === true){
                  window.localStorage.setItem('vouchersRemaining', 0);
                  var voucherElements = document.getElementsByClassName('voucherRelated');
                  for (let i=0; i < voucherElements.length; i++){
                    voucherElements[i].classList.add("noVouchers");
                  }
                  var hiddenText = document.getElementsByClassName('noDiscountsAvailable');
                  for (let i=0; i < hiddenText.length; i++){
                    hiddenText[i].style.display = "block";
                  }
                }
              }
            }
          }
        }
      }
    </script>
  </body>
</html>