<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>{{ title }} | SkillsForge</title>

    <link rel='icon' href='/imgs/favicon.ico' type='image/x-icon'/ >
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../sass/main.css">
  </head>
  
  <body>       
    
    <header>
      {% include './components/signOut-info.njk' %}
      {% include './components/checkoutNav.njk' %}
    </header>

    <main class="ears">
      {{ content | safe }}
    </main>

    {% include './components/footer.njk' %}

    <script>
      function expandMenu(){
        var displayVal = document.getElementById('navList');
        if (displayVal.classList.contains('display')){
          displayVal.classList.remove('display');
        } else {
          displayVal.classList.add('display');
        }
      }
    </script>
  </body>
</html>
