---
title: Your basket
---

{% extends "basket-layout.njk" %}

{% block main %}
  <input class="backToEvents" action="action" onclick="window.history.go(-1); return false;" type="submit" value="< Back to previous page" />

  {% include './_includes/components/progressIndicator.njk' %}

  <h1>Your basket</h1>
  <p id="noneInBasketMessage" style="display: none">There are currently no items in your basket.</p>

  <div class="checkoutDisplay">

    <div id="itemsInBasket">
      <div id="test-event-1" class="checkoutCard" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="../test-event-1/">Test Event 1</a></h2>
          <p>1 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-1" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p class="coursePrice">£220</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button class="button-linkStyling" onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
      </div>

      <div id="test-event-2" class="checkoutCard" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="..//test-event-2/">Test Event 2</a></h2>
          <p>5 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-2" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p class="coursePrice">£1100</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button class="button-linkStyling" onclick="removeItemFromBasket(this.value)" value="test-event-2">Remove course</button>
      </div>

      <div id="test-event-3" class="checkoutCard" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="..//test-event-3/">Test Event 3</a></h2>
          <p>2 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-3" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p class="coursePrice">£440</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button class="button-linkStyling" onclick="removeItemFromBasket(this.value)" value="test-event-3">Remove course</button>
      </div>
    </div>

    <div id="checkoutPanel">
      <div id="basketSummaryCostList">
        <h3>Basket summary</h3>
        <table border="0" cellspacing="0" >
          <thead>
            <tr>
              <th>Item name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr id="test-event-1-cost">
              <td>Test Event 1</td>
              <td class="cost">220</td>
            </tr>
            <tr id="test-event-1-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£220</td>
            </tr>
            <tr id="test-event-2-cost">
              <td>Test Event 2</td>
              <td class="cost">1100</td>
            </tr>
            <tr id="test-event-2-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£1100</td>
            </tr>
            <tr id="test-event-3-cost">
              <td>Test Event 3</td>
              <td class="cost">440</td>
            </tr>
            <tr id="test-event-3-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£440</td>
            </tr>
          </tbody>
        </table>
        <div id="totalHolder">
          <h4>Total price</h4>
          <p id="totalPrice">£1760</p>
        </div>
      </div>
      <button class="SfUiButton marginTopRem" onclick="saveTotal()">Continue to checkout</button>
    </div>
  </div>
{% endblock %}

{% block windowOnLoad %}
  window.localStorage.setItem('voucher', '0');
  window.localStorage.setItem('voucher-event', "");
  checkBasketItemsToDisplay();
  updateProgressIndicator("basket");
{% endblock %}

{% block javaScript %}
  {% include './_includes/components/basketSummaryManager.js' %}
  function checkBasketItemsToDisplay(){
    console.log('loaded');

    if (localStorage.getItem('test-event-1') === null) {
      window.localStorage.setItem('test-event-1', 'false');
    }
    if (localStorage.getItem('test-event-2') === null) {
      window.localStorage.setItem('test-event-2', 'false');
    }
    if (localStorage.getItem('test-event-3') === null) {
      window.localStorage.setItem('test-event-3', 'false');
    }
    if (localStorage.getItem('voucher') === null) {
      window.localStorage.setItem('voucher', '0');
    }

    var itemsInBasket = 0;
    var basketValue = 0;

    var testEvent1_value = window.localStorage.getItem('test-event-1');
    if (testEvent1_value === 'true'){
      document.getElementById("test-event-1").style.display = "grid";
      document.getElementById("test-event-1-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-1 in basket");
    } else {
      document.getElementById("test-event-1").style.display = "none";
      document.getElementById("test-event-1-cost").style.display = "none";
    }
    var testEvent2_value = window.localStorage.getItem('test-event-2');
    if (testEvent2_value === 'true'){
      document.getElementById("test-event-2").style.display = "grid";
      document.getElementById("test-event-2-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-2 in basket");
    } else {
      document.getElementById("test-event-2").style.display = "none";
      document.getElementById("test-event-2-cost").style.display = "none";
    }
    var testEvent3_value = window.localStorage.getItem('test-event-3');
    if (testEvent3_value === 'true'){
      document.getElementById("test-event-3").style.display = "grid";
      document.getElementById("test-event-3-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-3 in basket");
    } else {
      document.getElementById("test-event-3").style.display = "none";
      document.getElementById("test-event-3-cost").style.display = "none";
    }
    var voucher_value = window.localStorage.getItem('voucher');
    basketValue = basketValue - parseInt(voucher_value);
    if (itemsInBasket===0){
      document.getElementById("noneInBasketMessage").style.display = "block";
      document.getElementById("checkoutPanel").style.display = "none";
      document.getElementById("progressIndicator").style.display = "none";
    } else {
      document.getElementById("noneInBasketMessage").style.display = "none";
      document.getElementById("checkoutPanel").style.display = "block";
      document.getElementById("progressIndicator").style.display = "grid";
      document.getElementById("totalPrice").textContent="£" + basketValue;
    }
  }

  function removeItemFromBasket(eventTitle){
    console.log("Ready to remove " + eventTitle);
    window.localStorage.setItem(eventTitle, 'false');
    window.localStorage.setItem(eventTitle + "-occurrence", '');
    
    var appliedVoucher = document.querySelector('#test-event-2 .checkoutCard__discountsUsed .voucher');
    
    if (appliedVoucher.style.display==="flex"){
      appliedVoucher.click();
    }

    checkBasketItemsToDisplay();
  }

  function saveTotal(){
    var totalPrice = document.getElementById("totalPrice").innerHTML;
    console.log(totalPrice);
    window.localStorage.setItem('total', totalPrice);
    window.location.href = "../checkout/";
  }

{% endblock %}