---
title: Admin batch bookings
---
{% extends "base-layout.njk" %}

{% block main %}
<div id="batchBookings">

  <h1>Admin batch bookings</h1>

  <label for="course-choice">1. Search for a course name</label>
  <input list="course-options" id="course-choice" name="course-selector" />

  <datalist id="course-options">
    <option value="Test Event 1">
    <option value="Test Event 2">
    <option value="Test Event 3">
    <option value="Test Event 4">
    <option value="Test Event 5">
  </datalist>

  <label for="user-choice">2. Search for users to book</label>
  <input list="user-options" id="user-choice" name="user-selector" />
  <button id="add-user">Add user</button>

  <ul id="user-holder"></ul>

  <datalist id="user-options">
    <option value="Joe Lamyman">
    <option value="Jonathan Carr">
    <option value="Tim Hughes">
    <option value="Kevin Deighton">
    <option value="Bris Tol">
  </datalist>

  <label for="course-cost">3. Course cost for users</label>
  <input id="course-cost" type="text" />

  <p>4. Select a payment method for all bookings</p>

  <div id="checkout-paymentMethod" class="checkout-sectionHolder">
    <fieldset>
      <div class="paymentOption">
        <input type="radio" value="onlineShop" id="paymentType-onlineShop" name="paymentType">
        <label for="paymentType-onlineShop">University of Bristol Online Shop</label>
        <small>For immediate payment online via the University online shop</small>
      </div>
      <div class="paymentOption">
        <input type="radio" value="internalTransfer" id="paymentType-internalTransfer" name="paymentType">
        <label for="paymentType-internalTransfer">Transfer via an internal University of Bristol account</label>
        <small>For staff or internal departments that have a University of Bristol registered internal account</small>
      </div>
      <div class="paymentOption">
        <input type="radio" value="salesInvoice" id="paymentType-salesInvoice" name="paymentType">
        <label for="paymentType-salesInvoice">Sales invoice</label>
        <small>For users who wish to pay using an alternative method</small>
      </div>
    </fieldset>
  </div>

</div>
{% endblock %}

{% block javaScript %}

  document.querySelector('#add-user').addEventListener('click', printUser);

  function printUser(){
    const selectedUsername = document.querySelector('#user-choice').value;
    var newUserItem = document.createElement("li"); 
    var newContent = document.createTextNode(`${selectedUsername} - SkillsForge`); 
    newUserItem.appendChild(newContent);  
    document.querySelector('#user-holder').appendChild(newUserItem);
  }

  function printCourse(){
    const selectedCourse = document.querySelector('#course-choice').value;
    var newCourseItem = document.createElement("li"); 
    var newContent = document.createTextNode(`${selectedUsername} - SkillsForge`); 
    newUserItem.appendChild(newContent);  
    document.querySelector('#user-holder').appendChild(newUserItem);
  }

{% endblock %}