---
title: Checkout
---
{% extends "basket-layout.njk" %}

{% block main %}
  <input class="backToEvents" action="action" onclick="window.history.go(-1); return false;" type="submit" value="< Back to your basket" />

  {% include './_includes/components/progressIndicator.njk' %}

  <h1>Checkout</h1>

  <div class="checkoutDisplay">
  <div id="checkout-fieldsHolder">
    <div id="checkout-yourDetails" class="checkout-sectionHolder">
      <h2>Your details</h2>
      <p class="headingTrailingText">Please check that these details are correct</p>

      <h3>Contact Information</h3>

      <label for="contactInformation-title" class="mandatory">Title</label>
      <input id="contactInformation-title" class="xSmallInput" type="text" value="Dr" disabled>

      <label for="contactInformation-firstName" class="mandatory">First name</label>
      <input id="contactInformation-firstName" class="mediumInput" type="text" value="Bris" disabled>

      <label for="contactInformation-lastName" class="mandatory">Last name</label>
      <input id="contactInformation-lastName" class="mediumInput" type="text" value="Tol" disabled>

      <label for="contactInformation-email" class="mandatory">Email address</label>
      <input id="contactInformation-email" class="mediumInput" type="text" value="joe.lamyman@skillsforge.co.uk" disabled>

      <label for="contactInformation-phone">Contact number</label>
      <input id="contactInformation-phone" class="mediumInput" type="tel">

      <h3>Your role</h3>

      <label for="role-workType" class="mandatory">Type of work</label>
      <select name="typeOfWork" id="role-workType" class="mediumInput">
        <option value="">--Please select an option--</option>
        <option value="academiaOrEducation">Academia/Education</option>
        <option value="healthServices">Health Services NHS/NICE/Local authority</option>
        <option value="privateSector">Private Sector e.g. Pharma/consultancy</option>
        <option value="other">Other</option>
      </select>

      <label for="role-jobTitle" class="mandatory">Job title</label>
      <input id="role-jobTitle" class="mediumInput" type="text">

      <label for="role-org" class="mandatory">Organization</label>
      <input id="role-org" class="mediumInput" type="text">

      <label for="role-department" class="mandatory">Department</label>
      <input id="role-department" class="mediumInput" type="text">

      <h3>Address</h3>

      <label for="address-line1" class="mandatory">Business Address Line 1</label>
      <input id="address-line1" class="largeInput" type="text">

      <label for="address-line2">Business Address Line 2</label>
      <input id="address-line2" class="largeInput" type="text">

      <label for="address-line3">Business Address Line 3</label>
      <input id="address-line3" class="largeInput" type="text">

      <label for="address-postcode" class="mandatory">Postcode</label>
      <input id="address-postcode" class="mediumInput" type="text">

      {% include './_includes/components/countrySelect.njk' %}
  {# 
      <h3>Confirm details</h3>

      <input id="confirmDetails-check" type="checkbox">
      <label for="confirmDetails-check">I confirm that these details are correct</label> #}
    </div>
    <div id="checkout-paymentMethod" class="checkout-sectionHolder">
      <h2 class="mandatory">Payment method</h2>
      <p class="headingTrailingText">Please select the payment method for this transaction</p>
      <fieldset>
        <div class="paymentOption">
          <input type="radio" value="onlineShop" id="paymentType-onlineShop" name="paymentType">
          <label for="paymentType-onlineShop">University of Bristol Online Shop</label>
          <small>For immediate payment online via the University online shop</small>
        </div>
        <div class="paymentOption">
          <input type="radio" value="internalTransfer" id="paymentType-internalTransfer" name="paymentType">
          <label for="paymentType-internalTransfer">Transfer via an internal University of Bristol account</label>
          <small>For staff or internal departments that have a University of Bristol registered internal account</small>
        </div>
        <div class="paymentOption">
          <input type="radio" value="salesInvoice" id="paymentType-salesInvoice" name="paymentType">
          <label for="paymentType-salesInvoice">Sales invoice</label>
          <small>For users who wish to pay using an alternative method</small>
        </div>
      </fieldset>
    </div>
    <div id="checkout-termsAndConditions" class="checkout-sectionHolder">
      <h2>Terms and conditions</h2>
      <p class="headingTrailingText">Please confirm your agreement to Short Course terms and conditions</p>

      <input id="termsAndCond-agree" type="checkbox">
      <label for="termsAndCond-agree" class="mandatory">I agree to the <a href="https://www.bristol.ac.uk/medical-school/study/short-courses/booking/">University of Bristol's Short Course Terms and Conditions</a></label>
      <br>
      <input id="termsAndCond-marketing" type="checkbox">
      <label for="termsAndCond-marketing">I would like to receive email notifications about forthcoming University of Bristol Short Course dates</label>   
    </div>
    <button onclick="validateInfo()" class="SfUiButton">Review booking</button>
  </div>

    <div id="checkoutPanel">
      <div id="basketSummaryCostList">
        <h3>Basket summary</h3>
        <table border="0" cellspacing="0" >
          <thead>
            <tr>
              <th>Item name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr id="test-event-1-cost">
              <td>Test Event 1</td>
              <td class="cost">220</td>
            </tr>
            <tr id="test-event-1-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£220</td>
            </tr>
            <tr id="test-event-2-cost">
              <td>Test Event 2</td>
              <td class="cost">1100</td>
            </tr>
            <tr id="test-event-2-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£1100</td>
            </tr>
            <tr id="test-event-3-cost">
              <td>Test Event 3</td>
              <td class="cost">440</td>
            </tr>
            <tr id="test-event-3-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£440</td>
            </tr>
          </tbody>
        </table>
        <div id="totalHolder">
          <h4>Total price</h4>
          <p id="totalPrice">£1760</p>
        </div>
      </div>
    </div>
  </div>

  {% include './_includes/components/popUps.njk' %}

{% endblock %}

{% block windowOnLoad %}
  updateProgressIndicator("checkout");
  checkBasketItemsToDisplay();
{% endblock %}

{% block javaScript %}
  {% include './_includes/components/basketSummaryManager.js' %}
  function checkBasketItemsToDisplay(){
    console.log('loaded');

    if (localStorage.getItem('test-event-1') === null) {
      window.localStorage.setItem('test-event-1', 'false');
    }
    if (localStorage.getItem('test-event-2') === null) {
      window.localStorage.setItem('test-event-2', 'false');
    }
    if (localStorage.getItem('test-event-3') === null) {
      window.localStorage.setItem('test-event-3', 'false');
    }
    if (localStorage.getItem('voucher') === null) {
      window.localStorage.setItem('voucher', '0');
      window.localStorage.setItem('voucher-event', '0');
    }

    var itemsInBasket = 0;
    var basketValue = 0;

    var testEvent1_value = window.localStorage.getItem('test-event-1');
    if (testEvent1_value === 'true'){
      document.getElementById("test-event-1-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-1 in basket");
    } else {
      document.getElementById("test-event-1-cost").style.display = "none";
    }
    var testEvent2_value = window.localStorage.getItem('test-event-2');
    if (testEvent2_value === 'true'){
      document.getElementById("test-event-2-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-2 in basket");
    } else {
      document.getElementById("test-event-2-cost").style.display = "none";
    }
    var testEvent3_value = window.localStorage.getItem('test-event-3');
    if (testEvent3_value === 'true'){
      document.getElementById("test-event-3-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-3 in basket");
    } else {
      document.getElementById("test-event-3-cost").style.display = "none";
    }
    var voucher_value = window.localStorage.getItem('voucher');
    basketValue = basketValue - parseInt(voucher_value);
    if (itemsInBasket===0){
    } else {
      document.getElementById("totalPrice").textContent="£" + basketValue;
    }
  }

  function voucherCheck(){
    var voucher = window.localStorage.getItem('voucher');
    var eventTitle = window.localStorage.getItem('voucher-event');
    console.log(voucher);

    if ((voucher!==null)&&(parseInt(voucher)!==0)) {
      document.getElementById(eventTitle+"-discount").style.display = "table-row";
    }

    checkBasketItemsToDisplay();
  }

  function saveInformation(){
    var phoneInfo = getTextInputText('contactInformation-phone');
    window.localStorage.setItem('contactInformation-phone', phoneInfo);

    var workInfo = getSelectText('role-workType');
    window.localStorage.setItem('role-workType', workInfo);
    
    var jobInfo = getTextInputText('role-jobTitle');
    window.localStorage.setItem('role-jobTitle', jobInfo);
    
    var orgInfo = getTextInputText('role-org');
    window.localStorage.setItem('role-org', orgInfo);
    
    var departInfo = getTextInputText('role-department');
    window.localStorage.setItem('role-department', departInfo);
    
    var address1Info = getTextInputText('address-line1');
    window.localStorage.setItem('address-line1', address1Info);
    
    var address2Info = getTextInputText('address-line2');
    window.localStorage.setItem('address-line2', address2Info);
    
    var address3Info = getTextInputText('address-line3');
    window.localStorage.setItem('address-line3', address3Info);
    
    var postcodeInfo = getTextInputText('address-postcode');
    window.localStorage.setItem('address-postcode', postcodeInfo);
    
    var countryInfo = getSelectText('country');
    window.localStorage.setItem('country', countryInfo);
    
    var paymentInfo = getRadioText('paymentType');
    window.localStorage.setItem('checkout-paymentMethod', paymentInfo);
  }

  function getTextInputText(textInputId){
    var textVal = document.getElementById(textInputId).value;
    return textVal;
  }

  function getSelectText(selectId){
    var e = document.getElementById(selectId);
    var strUser = e.options[e.selectedIndex].text;
    return strUser;
  }

  function getRadioText(radioGroupName){
    var radioGroup = document.getElementsByName(radioGroupName);

    for (let i = 0; i < radioGroup.length; i++) {
      if (radioGroup[i].checked) {
        return radioGroup[i].value;
      }
    }
  }

  function validateInfo(){
    var validatePass = true;

    let selectIdArray = ['role-workType', 'country'];
    for(let i=0; i < selectIdArray.length; i++){
      let checkPass = validateTextInput(selectIdArray[i]);
      if (!checkPass){
        console.log(selectIdArray[i] + " does not pass");
        validatePass = false;
      }
    }

    let textInputIdArray = ['role-jobTitle', 'role-org', 'role-department', 'address-line1', 'address-postcode'];
    for(let i=0; i < textInputIdArray.length; i++){
      let checkPass = validateTextInput(textInputIdArray[i]);
      if (!checkPass){
        console.log(textInputIdArray[i] + " does not pass");
        validatePass = false;
      }
    }

    let radioNames = "paymentType";
    let radioPass = validateRadios(radioNames);
    if (!radioPass){
      console.log(radioNames + " does not pass");
      validatePass = false;
    } else {
      console.log(radioNames + " " + radioPass);
    }

    let checkBoxNames = "termsAndCond-agree";
    let checkedPass = validateCheckbox(checkBoxNames);
    if (!checkedPass){
      console.log(checkBoxNames + " does not pass");
      validatePass = false;
    } else {
      console.log(checkBoxNames + " " + checkedPass);
    }

    if (validatePass){
      console.log("VALIDATION HAS PASSED");
      saveInformation();
      window.location.href = "../overview/";
    } else {
      console.log("VALIDATION HAS FAILED");
      displayPopUp("error-mandatoryFields");
    }
  }

  function validateTextInput(textInputId){
    var inputText = document.getElementById(textInputId).value;
    if (inputText === ""){
      return false;
    } else {
      return true;
    }
  }

  function validateSelectInput(selectId){
    var inputValue = document.getElementById(selectId).value;
    if (inputValue === ""){
      return false;
    } else {
      return true;
    }
  }

  function validateRadios(radioGroupName){
    var radioGroup = document.getElementsByName(radioGroupName);
    var checkedRadio = false;

    for (let i = 0; i < radioGroup.length; i++) {
      if (radioGroup[i].checked) {
        checkedRadio = true;
        break;
      }
    }

    if (!checkedRadio) {
      return false;
    } else {
      return true;
    }
  }

  function validateCheckbox(checkboxId){
    var checkedValue = document.getElementById(checkboxId).checked;
    if (checkedValue === false){
      return false;
    } else {
      return true;
    }
  }

{% endblock %}