---
title: Booking confirmed
---
{% extends "base-layout.njk" %}

{% block main %}
  <h1 class="orderConfirmation">Booking confirmed - payment due by 31st February 2020</h1>
  <h2>Order number #<span id="topOrderNumber"></span></h2>

  <p>Thanks Bris Tol for your order!</p>

  <p><strong>Your order total is <span class="totalPrice"></span></strong>.

  <p>Your seats are pending until your payment has been received, you have up until <strong>31st February 2020</strong> (4 weeks before your first event) to pay.

  <p>Your selected payment method:</p>
  <strong><p id="paymentMethod" class="negativeMarginTopRem"></p></strong>

  <a href="../orders/" class="confirmationLink"><strong>View my orders</strong></a>

  <h2>Payment details</h2>
  <div id="paymentDetails-onlineShop" class="confirmation-paymentInformation">
    <p>To pay for your order please complete the following.</p>
    <p>Visit the University of Bristol Online shop, <strong>using the this link</strong>, to pay for your order:</p>
    <a href="https://shop.bris.ac.uk/" class="confirmationLink negativeMarginTopRem">https://shop.bris.ac.uk/skillsforge-first-order/hadf9d67sf7/</a>

    <p>If you have any queries or issues, please contact the short course administrators</p>
    <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
  </div>
  <div id="paymentDetails-internalTransfer" class="confirmation-paymentInformation">
    <p>To pay for your order please transfer <span class="totalPrice"></span> to the following internal account.</p>

    <table class="transferDetails">
      <tbody>
        <tr>
          <td>Account name:</td>
          <td><strong>UoB Internal</strong></td>
        </tr>
        <tr>
          <td>Account number:</td>
          <td><strong>1234 5678</strong></td>
        </tr>
        <tr>
          <td>Account sort code:</td>
          <td><strong>01-23-45</strong></td>
        </tr>
        <tr>
          <td>Reference:</td>
          <td><strong>SCO-3824567</strong></td>
        </tr>
      </tbody>
    </table>

    <p>If you have any queries or issues, please contact the short course administrators</p>
    <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
  </div>
  <div id="paymentDetails-salesInvoice" class="confirmation-paymentInformation">
    <p>A sales invoice will to the amount of <span class="totalPrice"></span> will be raised shortly and sent to your email address.</p>

    <p>If you have any queries or issues, please contact the short course administrators</p>
    <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
  </div>

  <h2>Order summary - #<span id="bottomOrderNumber"></span></h2>
  <div id="itemsInBasket">
    <div id="test-event-1" class="checkoutCard" style="display: none">
      <div class="checkoutCard__information">
        <h2><a href="/test-event-1/">Test Event 1</a></h2>
        <p>1 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
        {% set courseTitle = "test-event-1" %}
        {% set voucherApplied = "true" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div class="checkoutCard__courseCost">
        <p>Course cost</p>
        <p id="test-event-1-cost" class="coursePrice">£220</p>
      </div>
      <div class="checkoutCard__discountsAvailable">
        <p>Available discount</p>
        <p class="noDiscountsAvailable">No discounts available</p>
        {% set voucherApplied = "false" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div>
      </div>
      <button onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
    </div>

    <div id="test-event-2" class="checkoutCard" style="display: none">
      <div class="checkoutCard__information">
        <h2><a href="/test-event-2/">Test Event 2</a></h2>
        <p>5 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
        {% set courseTitle = "test-event-2" %}
        {% set voucherApplied = "true" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div class="checkoutCard__courseCost">
        <p>Course cost</p>
        <p id="test-event-2-cost" class="coursePrice">£1100</p>
      </div>
      <div class="checkoutCard__discountsAvailable">
        <p>Available discount</p>
        <p class="noDiscountsAvailable">No discounts available</p>
        {% set voucherApplied = "false" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div>
      </div>
      <button onclick="removeItemFromBasket(this.value)" value="test-event-2">Remove course</button>
    </div>

    <div id="test-event-3" class="checkoutCard" style="display: none">
      <div class="checkoutCard__information">
        <h2><a href="/test-event-3/">Test Event 3</a></h2>
        <p>2 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
        {% set courseTitle = "test-event-3" %}
        {% set voucherApplied = "true" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div class="checkoutCard__courseCost">
        <p>Course cost</p>
        <p id="test-event-3-cost" class="coursePrice">£440</p>
      </div>
      <div class="checkoutCard__discountsAvailable">
        <p>Available discount</p>
        <p class="noDiscountsAvailable">No discounts available</p>
        {% set voucherApplied = "false" %}
        {% include './_includes/components/voucher.njk' %}
      </div>
      <div>
      </div>
      <button onclick="removeItemFromBasket(this.value)" value="test-event-3">Remove course</button>
    </div>
  </div>

  <div class="checkoutCard totalCard">
    <h2>Order total</h2>
    <div class="checkoutCard__courseCost">
      <p class="totalPrice coursePrice"></p>
    </div>
  </div>

{% endblock %}

{% block windowOnLoad %}
  if (window.localStorage.getItem('address-line1') === null){
    displayPreviousOrder(orderHistory('previous'));
  } else {
    console.log("we have data");
    orderNumber();
    checkBasketItemsToDisplay();
    displayTotal();
    displayPaymentMethod();
    hideControls();
    saveOrder();
  }
{% endblock %}

{% block javaScript %}
  function checkBasketItemsToDisplay(){
    console.log('loaded');

    if (localStorage.getItem('test-event-1') === null) {
      window.localStorage.setItem('test-event-1', 'false');
    }
    if (localStorage.getItem('test-event-2') === null) {
      window.localStorage.setItem('test-event-2', 'false');
    }
    if (localStorage.getItem('test-event-3') === null) {
      window.localStorage.setItem('test-event-3', 'false');
    }
    if (localStorage.getItem('voucher') === null) {
      window.localStorage.setItem('voucher', '0');
    }

    var itemsInBasket = 0;
    var basketValue = 0;

    var testEvent1_value = window.localStorage.getItem('test-event-1');
    if (testEvent1_value === 'true'){
      document.getElementById("test-event-1").style.display = "grid";
      itemsInBasket++;
    } else {
      document.getElementById("test-event-1").style.display = "none";
    }
    var testEvent2_value = window.localStorage.getItem('test-event-2');
    if (testEvent2_value === 'true'){
      document.getElementById("test-event-2").style.display = "grid";
      itemsInBasket++;
    } else {
      document.getElementById("test-event-2").style.display = "none";
    }
    var testEvent3_value = window.localStorage.getItem('test-event-3');
    if (testEvent3_value === 'true'){
      document.getElementById("test-event-3").style.display = "grid";
      itemsInBasket++;
    } else {
      document.getElementById("test-event-3").style.display = "none";
    }
    var voucher_value = window.localStorage.getItem('voucher');
    basketValue = basketValue - parseInt(voucher_value);
  }

  function displayTotal(){
    var totalPrice = window.localStorage.getItem('total');
    var totalPriceHolders = document.getElementsByClassName("totalPrice");
    for(let i=0; i < totalPriceHolders.length; i++){
      totalPriceHolders[i].innerHTML = totalPrice;
    }
  }

  function hideControls(){
    var courseCards = document.getElementsByClassName("checkoutCard");
    for (let i=0; i < courseCards.length; i++){
      courseCards[i].classList.add("confirmation");
    }

    var voucher = window.localStorage.getItem("voucher-event")
    if ((voucher!==null)&&(voucher!=="")&&(voucher!=="0")){
      var vouchersOnScreen = document.getElementsByClassName('voucher')
      for(let i=0; i < vouchersOnScreen.length; i++){
        if (vouchersOnScreen[i].dataset.course===voucher){
          console.log("voucher in use: " + voucher);
          vouchersOnScreen[i].setAttribute("data-applied", "false");
          vouchersOnScreen[i].previousElementSibling.style.display="none";
          vouchersOnScreen[i].removeAttribute("onclick");
        }
      }
      var queryBuilder = voucher + "-cost";
      document.getElementById(queryBuilder).innerHTML = "£0";
    }
  }

  function displayPaymentMethod(){
    var savedPaymentMethod = window.localStorage.getItem('checkout-paymentMethod');
    var paymentMethod = "";

    switch (savedPaymentMethod) {
      case "onlineShop":
        console.log("Online shop");
        paymentMethod = "University of Bristol Online Shop";
        break;
      case "internalTransfer":
        console.log("Internal transfer");
        paymentMethod = "Transfer via an internal University of Bristol account";
        break;
      case "salesInvoice":
        console.log("Sales invoice");
        paymentMethod = "Sales invoice";
    }

    document.getElementById("paymentMethod").innerHTML = paymentMethod;

    var queryBuilder = "paymentDetails-" + savedPaymentMethod;
    document.getElementById(queryBuilder).style.display = "block";
  }

  function createObjects(){
    var item1 = {title: 'test-event-1', voucher: false, occurrence: 'occurrence-1'};
  }

  function bookedEvent(eventName, voucherUsed, occurrenceBooked){
    this.title = eventName;
    this.voucherUsed = voucherUsed;
    this.occurrence = occurrenceBooked;
  }

  function saveOrder(){
    var newOrderNumber = orderHistory('next');

    var eventsHolder = [];
    eventsHolder[0] = window.localStorage.getItem('test-event-1');
    eventsHolder[1] = window.localStorage.getItem('test-event-2');
    eventsHolder[2] = window.localStorage.getItem('test-event-3');

    if ((window.localStorage.getItem('voucher-event')!==null)&&(window.localStorage.getItem('voucher-event')!=="")){
      var voucherUsedEvent = window.localStorage.getItem('voucher-event');
    }
    
    console.log("voucher used event " + voucherUsedEvent);

    var orderObject = {};

    for (let i=0; i < eventsHolder.length; i++){
      if (eventsHolder[i]==="true"){
        let queryBuilderName = 'test-event-' + String(i+1);
        let queryBuilderOccurrence = queryBuilderName + "-occurrence";
        var voucherBeenUsed = false;
        if (voucherUsedEvent===queryBuilderName){
          voucherBeenUsed = true;
        }
        console.log(queryBuilderOccurrence);
        let occurrenceToSave = window.localStorage.getItem(queryBuilderOccurrence); 
        let order = new bookedEvent(queryBuilderName, voucherBeenUsed, occurrenceToSave);
        console.log(order);
        orderObject[("item" + String(i+1))] = order; 
      }

    }
    console.log(orderObject);

    var orderDetails = new Object();
    orderDetails.orderNumber = window.localStorage.getItem('currentOrderNumber');
    orderDetails.addressline1 = window.localStorage.getItem('address-line1');
    orderDetails.addressline2 = window.localStorage.getItem('address-line2');
    orderDetails.addressline3 = window.localStorage.getItem('address-line3');
    orderDetails.addresspostcode = window.localStorage.getItem('address-postcode');
    orderDetails.country = window.localStorage.getItem('country');
    orderDetails.checkoutpaymentMethod = window.localStorage.getItem('checkout-paymentMethod');
    orderDetails.contactInformationphone = window.localStorage.getItem('contactInformation-phone');
    orderDetails.roledepartment = window.localStorage.getItem('role-department');
    orderDetails.rolejobTitle = window.localStorage.getItem('role-jobTitle');
    orderDetails.roleorg = window.localStorage.getItem('role-org');
    orderDetails.roleworkType =  window.localStorage.getItem('role-workType');
    orderDetails.total =  window.localStorage.getItem('total');

    var currentdate = new Date(); 
    var datetime = "Order placed: " + currentdate.getDate() + "/" + (currentdate.getMonth()+1)  + "/" + currentdate.getFullYear() + " at "  + currentdate.getHours() + ":"  + currentdate.getMinutes();
    orderDetails.dateTimeOfOrder = datetime;

    orderObject["details"] = orderDetails; 

    console.log(orderObject);

    var allOrders =  [];

    if (window.localStorage.getItem("allOrders")!==null){
      console.log("existing orders");
      allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
      allOrders.push(orderObject);
    } else {
      console.log("no existing orders");
      console.log(orderObject);
      allOrders.push(orderObject);
    }

    localStorage.clear();

    window.localStorage.setItem("allOrders", JSON.stringify(allOrders));

    var orderNumber = 1;

    
{# 
    window.localStorage.setItem("order" + orderNumber, JSON.stringify(orderObject)); #}
{# 
    console.log(JSON.parse(window.localStorage.getItem('order1'))); #}
    console.log(JSON.parse(window.localStorage.getItem('allOrders')));
     
  }

  function orderNumber(){
    var orderNumber = Math.floor((Math.random() * 10000) + 1);
    window.localStorage.setItem('currentOrderNumber', orderNumber);
    document.getElementById('topOrderNumber').innerHTML = orderNumber;
    document.getElementById('bottomOrderNumber').innerHTML = orderNumber;
  }

  function orderHistory(previousOrNext){
    var nextOrderNumber = 1;
    var requestedNumber = 1;
    if (window.localStorage.getItem('allOrders')===null) {
      requestedNumber = 1;
    } else {
      var allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
      console.log(allOrders.length);
      if (allOrders!== null){
        if (previousOrNext === "previous" ){
          if (allOrders.length < 1){
            requestedNumber = 1;
          } else {
            requestedNumber = allOrders.length ;
          }
        } else if (previousOrNext === "next" ) {
          requestedNumber = allOrders.length + 2;
        }
      }
    }
    console.log("The requested number is " + requestedNumber);
    return requestedNumber;
  }

  function displayPreviousOrder(previousOrderNumber){
    console.log("ABOUT TO START");
    var allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
    console.log("Key names:");
    console.log(allOrders[previousOrderNumber-1]);
    var keyNames = Object.keys(allOrders[previousOrderNumber-1]);
    console.log("Key names:");
    console.log(keyNames);

    var orderNumber = allOrders[previousOrderNumber-1][keyNames[1]].orderNumber;
    document.getElementById('topOrderNumber').innerHTML = orderNumber;
    document.getElementById('bottomOrderNumber').innerHTML = orderNumber;

    var bookedCourses = [];
    for (let i=0; i < keyNames.length; i++){
      if (keyNames[i].includes("item")){
        console.log(allOrders[previousOrderNumber-1][keyNames[i]].title);
        bookedCourses.push(allOrders[previousOrderNumber-1][keyNames[i]].title);
        console.log(bookedCourses);
      }
    }
    for (let i=0; i < bookedCourses.length; i++){
      document.getElementById(bookedCourses[i]).style.display = "grid";
    }

    var totalPrice = allOrders[previousOrderNumber-1][keyNames[1]].total;
    var totalPriceHolders = document.getElementsByClassName("totalPrice");
    for(let i=0; i < totalPriceHolders.length; i++){
      totalPriceHolders[i].innerHTML = totalPrice;
    }

    var savedPaymentMethod = allOrders[previousOrderNumber-1][keyNames[1]].checkoutpaymentMethod;
    var paymentMethod = "";
    switch (savedPaymentMethod) {
      case "onlineShop":
        paymentMethod = "University of Bristol Online Shop";
        break;
      case "internalTransfer":
        paymentMethod = "Transfer via an internal University of Bristol account";
        break;
      case "salesInvoice":
        paymentMethod = "Sales invoice";
    }
    document.getElementById("paymentMethod").innerHTML = paymentMethod;
    var queryBuilder = "paymentDetails-" + savedPaymentMethod;
    document.getElementById(queryBuilder).style.display = "block";

    hideControls();
  }
{% endblock %}