---
title: Home
---
{% extends "base-layout.njk" %}

{% block main %}
  {% include './_includes/components/basket.njk' %}
  <h1>Welcome to SkillsForge</h1>
  <p>SkillsForge is a tool for research students, their supervisors and related support staff. You can use SkillsForge to search for and book on your chosen courses. Please contact us if you would like more information. </p>
{% endblock %}

{% block windowOnLoad %}
{% endblock %}

{% block javaScript %}
{% endblock %}