---
title: Payments Dashboard
---
{% extends "table-layout.njk" %}

{% block main %}
  <h1>Payments Dashboard</h1>
  <div id="paymentsDashboard-overview">
    <div class="flexColumn spaceBetween">
      <div>
        <p>Payments received since 1st October 2019</p>
        <p class="largeBoldText">£6800</p>
      </div>
      <div>
        <p>Payments due before 31st July 2020</p>
        <p class="largeBoldText">£4820</p>
      </div>
    </div>
    <div class="mediumInput">
      <p>Paid vs payments pending</p>
      <div class="flexRow spaceBetween">
        <p class="largeBoldText">32 paid</p>
        <p class="largeBoldText">20 pending</p>
      </div>
      <svg viewBox="0 0 52 2" width="100%" height="2rem" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1a1 1 0 011-1h31v2H1a1 1 0 01-1-1z" fill="#27B836"/>
        <path d="M32 0h19a1 1 0 110 2H32V0z" fill="#D60000"/>
      </svg>
    </div>
    <div>
      <p>Overdue payments</p>
      <p class="largeBoldText">5</p>
      <div class="overflowBox-vertical">
        <a href="../individualorder/">Misty Richards - <strong>31st January 2020</strong></a>
        <a href="../individualorder/">Hubert Castro - <strong>31st January 2020</strong></a>
        <a href="../individualorder/">Jana Ortega - <strong>31st January 2020</strong></a>
        <a href="../individualorder/">Corey Wagner - <strong>31st January 2020</strong></a>
        <a href="../individualorder/">Susan Stanley - <strong>31st January 2020</strong></a>
      </div>
    </div>
    <div>
      <p>Pending refunds</p>
      <p class="largeBoldText">4</p>
      <div class="overflowBox-vertical">
        <a href="../individualorder/">Anita Taylor</a>
        <a href="../individualorder/">Jae Vaughn</a>
        <a href="../individualorder/">Samantha Whitfield</a>
        <a href="../individualorder/">Emer Anderson</a>
      </div>
    </div>
  </div>
  <div id="paymentsDashboard-pending">
    <h2>Payments Overview</h2>

    <div class="tabbed">
      <ul>
        <li>
          <a href="#paymentsOverview-pending">Pending</a>
        </li>
        <li>
          <a href="#paymentsOverview-refunds">Refunds</a>
        </li>
        <li>
          <a href="#paymentsOverview-all">All</a>
        </li>
      </ul>
      

      <section id="paymentsOverview-pending">
        <div>
          <p><strong>There are currently 20 pending payments</strong></p>
          <p>Displayed below are orders that have been confirmed as payed yet. You can update order information by clicking on the order number.</p>
        </div>
        <table id="myTable">
          <thead>
            <th>Order no.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Amount due</th>
            <th>Due date</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="../individualorder/">8477015392</a></td>
              <td>Joe Lamyman</td>
              <td>joe.lamyman@skillsforge.co.uk</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8412872531</a></td>
              <td>Todd West</td>
              <td>todd.west@skillsforge.co.uk</td>
              <td>£660</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5642489455</a></td>
              <td>Misty Richards</td>
              <td>misty.richards@skillsforge.co.uk</td>
              <td>£660</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7650023611</a></td>
              <td>Perry Rodgers</td>
              <td>perry.rodgers@skillsforge.co.uk</td>
              <td>£880</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1179891816</a></td>
              <td>Hubert Castro</td>
              <td>hibert.castro@skillsforge.co.uk</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1282022224</a></td>
              <td>Stella Murphy</td>
              <td>stella.murphy@skillsforge.co.uk</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6639425020</a></td>
              <td>Marilyn Salazar</td>
              <td>marilyn.salazar@skillsforge.co.uk</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8432650924</a></td>
              <td>Alfredo Kelley</td>
              <td>alfredo.kelley@skillsforge.co.uk</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">2558133321</a></td>
              <td>Rolando Bass</td>
              <td>rolando.bass@skillsforge.co.uk</td>
              <td>£1100</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5192239178</a></td>
              <td>Jana Ortega</td>
              <td>jana.ortega@skillsforge.co.uk</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1699532539</a></td>
              <td>Kimberly Wallace</td>
              <td>kimberly.wallace@skillsforge.co.uk</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5674885609</a></td>
              <td>Jenny Harvey</td>
              <td>jenny.harvey@skillsforge.co.uk</td>
              <td>£660</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9050732404</a></td>
              <td>Corey Wagner</td>
              <td>corey.wagner@skillsforge.co.uk</td>
              <td>£660</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7311367494</a></td>
              <td>Kelvin Peters</td>
              <td>kelvin.peters@skillsforge.co.uk</td>
              <td>£880</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">3494983662</a></td>
              <td>Susan Stanley</td>
              <td>susan.stanley@skillsforge.co.uk</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7299179805</a></td>
              <td>Saul Strickland</td>
              <td>saul.strickland@skillsforge.co.uk</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1456092966</a></td>
              <td>Dora Hernandez</td>
              <td>dora.hernandez@skillsforge.co.uk</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9787069662</a></td>
              <td>Scott Lindsey</td>
              <td>scott.lindsey@skillsforge.co.uk</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5525460180</a></td>
              <td>Kristen Warner</td>
              <td>kristen.warner@skillsforge.co.uk</td>
              <td>£1100</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9964474036</a></td>
              <td>Maxine Daniels</td>
              <td>maxine.daniels@skillsforge.co.uk</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="paymentsOverview-refunds">
        <div>
          <p><strong>Refunds</strong></p>
          <p>Displayed below are orders that require an admin intervention to refund a payment to the user.</p>
        </div>
        <table id="refundTable">
          <thead>
            <th>Order no.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Refund amount</th>
            <th>Date of request</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="../individualorder/">7153165692</a></td>
              <td>Anita Taylor</td>
              <td>anita.taylor@skillsforge.co.uk</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9112616157</a></td>
              <td>Jae Vaughn</td>
              <td>jae.vaughn@skillsforge.co.uk</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1681319712</a></td>
              <td>Samantha Whitfield</td>
              <td>samantha.whitfield@skillsforge.co.uk</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6643510075</a></td>
              <td>Emer Anderson</td>
              <td>emer.anderson@skillsforge.co.uk</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="paymentsOverview-all">
        <div>
          <p><strong>All payments</strong></p>
          <p>Displayed below are all orders currently in the SkillsForge system, this includes pending payments, received payments, refunded payments and cancelled orders.</p>
        </div>
        <table id="allPaymentsTable">
          <thead>
            <th>Order no.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Request/Deadline</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="../individualorder/">8477015392</a></td>
              <td>Joe Lamyman</td>
              <td>joe.lamyman@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8412872531</a></td>
              <td>Todd West</td>
              <td>todd.west@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£660</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5642489455</a></td>
              <td>Misty Richards</td>
              <td>misty.richards@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£660</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7650023611</a></td>
              <td>Perry Rodgers</td>
              <td>perry.rodgers@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£880</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1179891816</a></td>
              <td>Hubert Castro</td>
              <td>hibert.castro@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1282022224</a></td>
              <td>Stella Murphy</td>
              <td>stella.murphy@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6639425020</a></td>
              <td>Marilyn Salazar</td>
              <td>marilyn.salazar@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8432650924</a></td>
              <td>Alfredo Kelley</td>
              <td>alfredo.kelley@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">2558133321</a></td>
              <td>Rolando Bass</td>
              <td>rolando.bass@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£1100</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5192239178</a></td>
              <td>Jana Ortega</td>
              <td>jana.ortega@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1699532539</a></td>
              <td>Kimberly Wallace</td>
              <td>kimberly.wallace@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5674885609</a></td>
              <td>Jenny Harvey</td>
              <td>jenny.harvey@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£660</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9050732404</a></td>
              <td>Corey Wagner</td>
              <td>corey.wagner@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£660</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7311367494</a></td>
              <td>Kelvin Peters</td>
              <td>kelvin.peters@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£880</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">3494983662</a></td>
              <td>Susan Stanley</td>
              <td>susan.stanley@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td class="warningText">31st January 2020 {% include './_includes/components/icon-warning.html' %}</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7299179805</a></td>
              <td>Saul Strickland</td>
              <td>saul.strickland@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1456092966</a></td>
              <td>Dora Hernandez</td>
              <td>dora.hernandez@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9787069662</a></td>
              <td>Scott Lindsey</td>
              <td>scott.lindsey@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£440</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5525460180</a></td>
              <td>Kristen Warner</td>
              <td>kristen.warner@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£1100</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9964474036</a></td>
              <td>Maxine Daniels</td>
              <td>maxine.daniels@skillsforge.co.uk</td>
              <td>Pending payment</td>
              <td>£220</td>
              <td>29th February 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7153165692</a></td>
              <td>Anita Taylor</td>
              <td>anita.taylor@skillsforge.co.uk</td>
              <td>Pending refund</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9112616157</a></td>
              <td>Jae Vaughn</td>
              <td>jae.vaughn@skillsforge.co.uk</td>
              <td>Pending refund</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1681319712</a></td>
              <td>Samantha Whitfield</td>
              <td>samantha.whitfield@skillsforge.co.uk</td>
              <td>Pending refund</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6643510075</a></td>
              <td>Emer Anderson</td>
              <td>emer.anderson@skillsforge.co.uk</td>
              <td>Pending refund</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5076059552</a></td>
              <td>Joel McLean</td>
              <td>joel.mclean@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">3250306781</a></td>
              <td>Maison Hogg</td>
              <td>maison.hogg@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4807413472</a></td>
              <td>Marylou Read</td>
              <td>marylou.read@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4807413472</a></td>
              <td>Cassander Jaeger</td>
              <td>cassander.jaeger@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4390674978</a></td>
              <td>Helen Pieters</td>
              <td>helen.pieters@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8158013430</a></td>
              <td>Tim Johnson</td>
              <td>tim.johnson@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1612339355</a></td>
              <td>Naomi Thomas</td>
              <td>naomi.thomas@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1540</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">3779030577</a></td>
              <td>Peter Burns</td>
              <td>peter.burns@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4140542202</a></td>
              <td>Kelly Thompson</td>
              <td>kelly.thompson@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8601270451</a></td>
              <td>Ryan Charity</td>
              <td>ryan.charity@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1320</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9964836274</a></td>
              <td>Megan Sheering</td>
              <td>megan.sheering@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£660</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7552092801</a></td>
              <td>Paul Jones</td>
              <td>paul.jones@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7928788635</a></td>
              <td>Morgan Waterford</td>
              <td>morgan.waterford@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5732634843</a></td>
              <td>Jacob Saunders</td>
              <td>jacob.saunders@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1760</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7096892848</a></td>
              <td>Seeta Nanni</td>
              <td>seeta.nanni@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5626177896</a></td>
              <td>Eirlys Hearn</td>
              <td>eirlys.hearn@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1760</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8628919467</a></td>
              <td>Antonia Gomez</td>
              <td>antoinia.gomez@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£660</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">3207524751</a></td>
              <td>Siobhan Anderson</td>
              <td>siobhan.anderson@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6202471805</a></td>
              <td>Edwin Anson</td>
              <td>edwin.anson@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1540</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4060172345</a></td>
              <td>Isabella O'Shea</td>
              <td>isabella.oshea@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£220</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7624166162</a></td>
              <td>Marcus Llewellyn</td>
              <td>marcus.llewellyn@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">1650832230</a></td>
              <td>Gabriel Budny</td>
              <td>gabriel.budny@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1320</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">9797748581</a></td>
              <td>Osbeorn Causer</td>
              <td>osbeorn.causer@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£220</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5572484737</a></td>
              <td>Susannah Owens</td>
              <td>susannah.owens@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">5779541441</a></td>
              <td>Ella Anyana</td>
              <td>ella.anyana@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£880</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7034976579</a></td>
              <td>Milan Vastag</td>
              <td>milan.vastag@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6901971681</a></td>
              <td>Inez Keegan</td>
              <td>inez.keegan@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1760</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8636055186</a></td>
              <td>Trevor Gleeson</td>
              <td>trevor.gleeson@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£440</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">8035749077</a></td>
              <td>Jake Mitchell</td>
              <td>jake.mitchell@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1760</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">6745364643</a></td>
              <td>Jennifer Dutton</td>
              <td>jennifer.dutton@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1760</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">4759128527</a></td>
              <td>Maisie Ragg</td>
              <td>maisie.ragg@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1100</td>
              <td>31st January 2020</td>
            </tr>
            <tr>
              <td><a href="../individualorder/">7837136600</a></td>
              <td>Gary Fawcett</td>
              <td>gary.fawcett@skillsforge.co.uk</td>
              <td>Received</td>
              <td>£1320</td>
              <td>31st January 2020</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    
  </div>
{% endblock %}

{% block windowOnLoad %}
  const paymentDisplay = document.querySelectorAll("#paymentsDashboard-overview .largeBoldText");
  paymentDisplay[0].innerHTML = "£" + calculateMoney('paidTable');
  paymentDisplay[1].innerHTML = "£" + calculateMoney('myTable');
  checkDate('myTable');
{% endblock %}


{% block javaScript %}
  //Accessible, tabbed interfaces by Heydon Pickering - https://inclusive-components.design/tabbed-interfaces/
  (function() {
  // Get relevant elements and collections
  const tabbed = document.querySelector('.tabbed');
  const tablist = tabbed.querySelector('ul');
  const tabs = tablist.querySelectorAll('a');
  const panels = tabbed.querySelectorAll('[id^="paymentsOverview"]');
  console.log(panels[0]);
  // The tab switching function
  const switchTab = (oldTab, newTab) => {
    newTab.focus();
    // Make the active tab focusable by the user (Tab key)
    newTab.removeAttribute('tabindex');
    // Set the selected state
    newTab.setAttribute('aria-selected', 'true');
    oldTab.removeAttribute('aria-selected');
    oldTab.setAttribute('tabindex', '-1');
    // Get the indices of the new and old tabs to find the correct
    // tab panels to show and hide
    let index = Array.prototype.indexOf.call(tabs, newTab);
    let oldIndex = Array.prototype.indexOf.call(tabs, oldTab);
    panels[oldIndex].hidden = true;
    panels[index].hidden = false;
  }
  
  // Add the tablist role to the first <ul> in the .tabbed container
  tablist.setAttribute('role', 'tablist');
  
  // Add semantics are remove user focusability for each tab
  Array.prototype.forEach.call(tabs, (tab, i) => {
    tab.setAttribute('role', 'tab');
    tab.setAttribute('id', 'tab' + (i + 1));
    tab.setAttribute('tabindex', '-1');
    tab.parentNode.setAttribute('role', 'presentation');
    
    // Handle clicking of tabs for mouse users
    tab.addEventListener('click', e => {
      e.preventDefault();
      let currentTab = tablist.querySelector('[aria-selected]');
      if (e.currentTarget !== currentTab) {
        switchTab(currentTab, e.currentTarget);
      }
    });
    
    // Handle keydown events for keyboard users
    tab.addEventListener('keydown', e => {
      // Get the index of the current tab in the tabs node list
      let index = Array.prototype.indexOf.call(tabs, e.currentTarget);
      // Work out which key the user is pressing and
      // Calculate the new tab's index where appropriate
      let dir = e.which === 37 ? index - 1 : e.which === 39 ? index + 1 : e.which === 40 ? 'down' : null;
      if (dir !== null) {
        e.preventDefault();
        // If the down key is pressed, move focus to the open panel,
        // otherwise switch to the adjacent tab
        dir === 'down' ? panels[i].focus() : tabs[dir] ? switchTab(e.currentTarget, tabs[dir]) : void 0;
      }
    });
  });
  
  // Add tab panel semantics and hide them all
  Array.prototype.forEach.call(panels, (panel, i) => {
    panel.setAttribute('role', 'tabpanel');
    panel.setAttribute('tabindex', '-1');
    let id = panel.getAttribute('id');
    panel.setAttribute('aria-labelledby', tabs[i].id);
    panel.hidden = true; 
  });
  
  // Initially activate the first tab and reveal the first tab panel
  tabs[0].removeAttribute('tabindex');
  tabs[0].setAttribute('aria-selected', 'true');
  panels[0].hidden = false;
})();

function getTableRows(tableId, cell){
  const table = document.querySelector('#' + tableId);
  const tableRows = table.querySelectorAll('tr ' + cell);
  return tableRows;
}

function calculateMoney(tableId){
  const tableRows = getTableRows(tableId, 'td:nth-last-child(2)');
  let runningTotal = 0;
  for (let i=0; i<tableRows.length; i++){
    let price = Number(tableRows[i].innerHTML.substr(1));
    runningTotal += price;
  }
  return runningTotal;
}

function addWarningSvg(cell){
  const warningSvg = '<svg width="40" height="40" viewBox="0 0 40 40" fill="none" class="svg-warning" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" fill="white"/><circle cx="20" cy="20" r="20" fill="#C11F1F"/><path d="M21.6387 24.2471H17.6396L17.0098 9.67188H22.2686L21.6387 24.2471ZM16.8633 28.7881C16.8633 28.0654 17.1221 27.4746 17.6396 27.0156C18.167 26.5469 18.8213 26.3125 19.6025 26.3125C20.3838 26.3125 21.0332 26.5469 21.5508 27.0156C22.0781 27.4746 22.3418 28.0654 22.3418 28.7881C22.3418 29.5107 22.0781 30.1064 21.5508 30.5752C21.0332 31.0342 20.3838 31.2637 19.6025 31.2637C18.8213 31.2637 18.167 31.0342 17.6396 30.5752C17.1221 30.1064 16.8633 29.5107 16.8633 28.7881Z" fill="white"/></svg>';
  cell.innerHTML += warningSvg;
}

{% endblock %}