---
title: Edit order
---
{% extends "clean-layout.njk" %}

{% block main %}

<input class="backToEvents" action="action" onclick="window.history.go(-1); return false;" type="submit" value="< Back to edit order">

<h1 class="noMargins"><strong>Review changes to order</strong> #12345678</h1>
<p class="noMargins marginBotRem"><span>Joe Lamyman</span> (<a href="#">joe.lamyman@skillsforge.co.uk</a>)</p>

<div class="flow alert">
  <h2>Booked Courses</h2>
  <div class="c-editOrder__grid">
    <div id="test-event-1" class="checkoutCard checkoutCard-editOrderScreen">
      <div class="checkoutCard__information">
        <h2><a href="../test-event-1/">Test Event 1</a></h2>
        <p>1 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied" style="display: none;">No discounts applied</p>
        <div class="voucher voucherRelated" onclick="useVoucher(this)" data-course="test-event-1" data-applied="false">
          <p class="voucherQuantity">1</p>
          <p class="voucherDiscount">100% discount</p>
          <svg class="voucherExit" viewBox="0 0 100 100">
            <path d="M 5 5 L 95 95 M 95 5 L 5 95"></path>
          </svg>
        </div>
      </div>
      <div class="checkoutCard__removeVoucher">
      </div>
      <div class="checkoutCard__courseCost">
        <label class="c-editOrder__editPriceLabel" for="course-cost-1">Course cost</label>
        <input id="course-cost-1" name="course-cost-1" onblur="updateTotal()" type="text" class="coursePrice c-editOrder__editPrice js-editPrice" style="display:block;" value="£0" readonly>
        <div id="course1-newCost" class="newCostField hidden">
          <label>New cost</label>
          <input type="number">
          <button class="SfUiButton updatePrice" style="height: auto; padding: 0.5rem 1rem; color: white; margin-top: 0.5rem;">Confirm price</button>
        </div>
      </div>
    </div>
    <div class="c-editOrder__removeBookingHolder">
    </div>

    <div id="test-event-2" class="checkoutCard checkoutCard-editOrderScreen">
      <div class="checkoutCard__information">
        <h2><a href="..//test-event-2/">Test Event 2</a></h2>
        <p>5 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
      </div>
      {# <div class="checkoutCard__removeVoucher">
        <button class="button-linkStyling">Remove voucher</button>
      </div> #}
      <div class="checkoutCard__courseCost">
        <label class="c-editOrder__editPriceLabel" for="course-cost-2">Course cost</label>
        <input id="course-cost-2" name="course-cost-2" onblur="updateTotal()" type="text" class="coursePrice c-editOrder__editPrice js-editPrice" style="display:block;" value="£1100" readonly>
        <div id="course2-newCost" class="newCostField hidden">
          <label>New cost</label>
          <input type="number">
          <button class="SfUiButton updatePrice" style="height: auto; padding: 0.5rem 1rem; color: white; margin-top: 0.5rem;">Confirm price</button>
        </div>
      </div>
    </div>
    <div class="c-editOrder__removeBookingHolder">
    </div>
    
    <div class="checkoutCard checkoutCard-editOrderScreen" style="margin-bottom: 0rem;">
      <div class="checkoutCard__information">
        <h2>Total:</h2>
      </div>
      <div class="checkoutCard__courseCost">
        <p> <span id="totalPriceHolder">£1100</span></p>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="h-mt-1">Payment method</h2>
  <input id="paymentMethod" class="c-editedOrder--paymentMethod" type="text" readonly>
  <small id="additionalText" class="headingTrailingText"></small> 

  <h3 style="margin-top: 1.5rem">Payment Date</h3>
  <p class="label">Payment due date is <span id="currentPaymentDate">28th February 2020</span></p>

  <hr>

  <h2 class="h-mt-1">Admin notes</h2>
  <label class="label">Internal admin notes (these will only be visible to administrators)</label>
  <textarea class="input textarea c-editOrder--adminNotes js-adminNotes" readonly></textarea>
</div>

<div class="alert c-editOrder--warning">
 {% include './_includes/components/icon-warning.html' %}<p><strong>Confirming these changes will create a new invoice/credit note which will be sent to the user</strong></p>
</div>

<div>
 <button class="SfUiButton">Confirm changes</button>
 <button class="SfUiButton button-linkStyling">Cancel changes</button>
</div>


{% endblock %}

{% block windowOnLoad %}
  loadData();
  document.querySelector('#totalPriceHolder').textContent = calculateTotal();


  const updatePrice = document.querySelectorAll('.checkoutCard__courseCost');
  for (let i=0; i<updatePrice.length; i++){
    updatePrice[i].onblur = calculateTotal;
  }


{% endblock %}

{% block javaScript %}
  function calculateTotal(){
    console.log('CALCULATING');
    const totalAmounts = document.querySelectorAll('.js-editPrice');
    let newTotal = Number(0);
    for (let i=0; i<totalAmounts.length; i++){
      console.log(totalAmounts[i].value);
      let intPrice = totalAmounts[i].value.replace('£', '')
      console.log(Number(intPrice));
      newTotal += Number(intPrice);
      console.log(newTotal);
    }
    const textPrice = `£${String(newTotal)}`;
    return textPrice;
  }

  function updatePrice(e){
    const newPrice = e.target.closest('div').querySelector('input').value;
    e.target.closest('div').querySelector('input').value = '';
    e.target.closest('.checkoutCard__courseCost').querySelector('.coursePrice').textContent = `£${newPrice}`;
    document.querySelector('#totalPriceHolder').textContent = calculateTotal();
    e.target.closest('.checkoutCard__courseCost').querySelector('.newCostField').classList.add('hidden');
  }

  function updateTotal(e){
    document.querySelector('#totalPriceHolder').textContent = calculateTotal();
  }

  function loadData(){

    let editedOrder = JSON.parse(window.localStorage.getItem('editedOrder'));
    console.log(editedOrder);

    document.querySelector('#course-cost-1').value = editedOrder.firstCourse;
    document.querySelector('#course-cost-2').value = editedOrder.secondCourse;
    document.querySelector('#currentPaymentDate').innerHTML = editedOrder.paymentDate;
    document.querySelector('.js-adminNotes').value = editedOrder.adminNotes;

    var paymentMethod = "";
    var paymentDesc = "";
    switch(editedOrder.paymentMethod) {
      case 'onlineShop':
        paymentMethod = "University of Bristol Online Shop";
        paymentDesc = "For immediate payment online via the University online shop";
        break;
      case 'internalTransfer':
        paymentMethod = "Transfer via an internal University of Bristol account";
        paymentDesc = "For staff or internal departments that have a University of Bristol registered internal account";
        break;
      case 'salesInvoice':
        paymentMethod = "Sales invoice";
        paymentDesc = "For users who wish to pay using an alternative method";
    } 
    document.getElementById("paymentMethod").value = paymentMethod;
    document.getElementById("additionalText").innerHTML = paymentDesc;

    const cancelledP = document.createElement('p');
    cancelledP.textContent = "Cancelled booking";
    cancelledP.classList.add('c-editOrder-cancelledBooking');
    console.log(cancelledP);

    const te1Cancelled = String(window.localStorage.getItem('test-event-1-cancelled'));
    if (te1Cancelled=='true'){
      document.querySelector('#test-event-1 .checkoutCard__information h2').style = "text-decoration: line-through;";
      document.querySelector('#test-event-1 .checkoutCard__information p:first-of-type').style = "text-decoration: line-through;";
      document.querySelector('#test-event-1 .checkoutCard__information').insertAdjacentElement('beforeend', cancelledP);
    }

    const te2Cancelled = String(window.localStorage.getItem('test-event-2-cancelled'));

    if (te2Cancelled=='true'){
      document.querySelector('#test-event-2 .checkoutCard__information').style = "text-decoration: line-through;";
    }

  }
  




{% endblock %}