---
title: Edit order
---
{% extends "clean-layout.njk" %}

{% block main %}

<input class="backToEvents" action="action" onclick="window.history.go(-1); return false;" type="submit" value="< Back to order overview">

<h1 class="noMargins"><strong>Editing order</strong> #12345678</h1>
<p class="noMargins marginBotRem"><span>Joe Lamyman</span> (<a href="#">joe.lamyman@skillsforge.co.uk</a>)</p>

<div class="flow alert">
  <h2>Booked Courses</h2>
  <div class="c-editOrder__grid">
    <div id="test-event-1" class="checkoutCard checkoutCard-editOrderScreen">
      <div class="checkoutCard__information">
        <h2><a href="../test-event-1/">Test Event 1</a></h2>
        <p>1 day course</p>
        <p><em>Default price:</em> £220</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied" style="display: none;">No discounts applied</p>
        <div class="voucher voucherRelated" onclick="useVoucher(this)" data-course="test-event-1" data-applied="false">
          <p class="voucherQuantity">1</p>
          <p class="voucherDiscount">100% discount</p>
          <svg class="voucherExit" viewBox="0 0 100 100">
            <path d="M 5 5 L 95 95 M 95 5 L 5 95"></path>
          </svg>
        </div>
      </div>
      <div class="checkoutCard__removeVoucher">
        <button class="button-linkStyling removeVoucherButton">Remove voucher</button>
      </div>
      <div class="checkoutCard__courseCost">
        <label class="c-editOrder__editPriceLabel c-editOrder__editPriceLabel--price" for="course-cost-1">Course cost</label>
        <input id="course-cost-1" name="course-cost-1" onblur="updateTotal()" type="text" class="coursePrice c-editOrder__editPrice js-editPrice" style="display:block;" value="0">
        <div id="course1-newCost" class="newCostField hidden">
          <label>New cost</label>
          <input type="number">
          <button class="SfUiButton updatePrice" style="height: auto; padding: 0.5rem 1rem; color: white; margin-top: 0.5rem;">Confirm price</button>
        </div>
      </div>
    </div>
    <div class="c-editOrder__removeBookingHolder">
      <button class="SfUiButton editPriceButton" value="test-event-1" onclick="storeData(this.value)">Remove booking</button>
    </div>

    <div id="test-event-2" class="checkoutCard checkoutCard-editOrderScreen">
      <div class="checkoutCard__information">
        <h2><a href="..//test-event-2/">Test Event 2</a></h2>
        <p>5 day course</p>
        <p><em>Default price:</em> £1100</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
      </div>
      {# <div class="checkoutCard__removeVoucher">
        <button class="button-linkStyling">Remove voucher</button>
      </div> #}
      <div class="checkoutCard__courseCost">
        <label class="c-editOrder__editPriceLabel c-editOrder__editPriceLabel--price" for="course-cost-2">Course cost</label>
        <input id="course-cost-2" name="course-cost-2" onblur="updateTotal()" type="text" class="coursePrice c-editOrder__editPrice js-editPrice" style="display:block;" value="1100">
        <div id="course2-newCost" class="newCostField hidden">
          <label>New cost</label>
          <input type="number">
          <button class="SfUiButton updatePrice" style="height: auto; padding: 0.5rem 1rem; color: white; margin-top: 0.5rem;">Confirm price</button>
        </div>
      </div>
    </div>
    <div class="c-editOrder__removeBookingHolder">
      <button class="SfUiButton editPriceButton" value="test-event-2" onclick="storeData(this.value)">Remove booking</button>
    </div>
    
    <div class="checkoutCard checkoutCard-editOrderScreen" style="margin-bottom: 0rem;">
      <div class="checkoutCard__information">
        <h2>Total:</h2>
      </div>
      <div class="checkoutCard__courseCost">
        <p> <span id="totalPriceHolder">£1000</span></p>
      </div>
    </div>
  </div>

  <div id="groupSelectorOptions" class="hidden">
    <h3>Group select option</h3>
    <p>You have <span></span> course(s) selected.
    <fieldset class="fieldset-standard">
      <legend>You can select an option to apply to all selected courses</legend>
      
      <div>
        <input name="orderAction" type="radio" value="cancel">
        <label><strong>Cancel</strong> selected course(s)</label>
      </div>

      <div>
        <input name="orderAction" type="radio" value="refund">
        <label><strong>Refund</strong> selected course(s)</label>
      </div>

      <div>
        <input name="orderAction" type="radio" value="both">
        <label><strong>Cancel and refund</strong> selected course(s)</label>
      </div>
      
      <div>
        <button id="applyAction" class="SfUiButton">Apply selected actions</button>
        <button onclick="removeStrikethroughs()" class="button-linkStyling text-uppercase">Cancel</button>
      </div>
  </div>
</div>

<div id="checkout-paymentMethod" class="checkout-sectionHolder flow alert">
  <h2>Payment method</h2>
  <p class="headingTrailingText">Please select the payment method for this transaction</p>
  <fieldset class="fieldset-payments">
    <div class="paymentOption">
      <input type="radio" value="onlineShop" id="paymentType-onlineShop" name="paymentType">
      <label for="paymentType-onlineShop">University of Bristol Online Shop</label>
      <small>For immediate payment online via the University online shop</small>
    </div>
    <div class="paymentOption">
      <input type="radio" value="internalTransfer" id="paymentType-internalTransfer" name="paymentType">
      <label for="paymentType-internalTransfer">Transfer via an internal University of Bristol account</label>
      <small>For staff or internal departments that have a University of Bristol registered internal account</small>
    </div>
    <div class="paymentOption">
      <input type="radio" value="salesInvoice" id="paymentType-salesInvoice" name="paymentType">
      <label for="paymentType-salesInvoice">Sales invoice</label>
      <small>For users who wish to pay using an alternative method</small>
    </div>
  </fieldset>

  <h3 style="margin-top: 1.5rem">Payment Date</h3>
  <p class="label">Current payment due date is <span id="currentPaymentDate">28th February 2020</span></p>
  <details>
    <summary>Change payment due date</summary>
    <div id="editOrder-changeDate">
    <label class="label">New due date (DD/MM/YYYY)</label>
    <input id="newDate" type="text" class="input">
    <button onclick="addNewDate()" class="SfUiButton">Confirm new due date</button>
  </div>
  </details>
  </div>
</div>
  
<div class="alert">
  <h2>Admin notes</h2>
  <label class="label">Internal admin notes (these will only be visible to administrators)</label>
  <textarea class="input textarea c-editOrder--adminNotes js-adminNotes"></textarea>
</div>

<div>
 <button onclick="saveData()" class="SfUiButton">Update booking information</button>
</div>

{% include './_includes/components/popUps.njk' %}


{% endblock %}

{% block windowOnLoad %}
  document.querySelector('#totalPriceHolder').textContent = calculateTotal();

  const updateTotalButtons = document.querySelectorAll('.updatePrice');
  for (let i=0; i<updateTotalButtons.length; i++){
    updateTotalButtons[i].onclick = updatePrice;
  }

  const removeVoucherButtons = document.querySelectorAll('.removeVoucherButton');
  for (let i=0; i<removeVoucherButtons.length; i++){
    removeVoucherButtons[i].onclick = removeVoucher;
  }

  const editPriceButtons = document.querySelectorAll('.editPriceButton');
  for (let i=0; i<editPriceButtons.length; i++){
    editPriceButtons[i].onclick = showEditPriceField;
  }

  const groupSelectors = document.querySelectorAll('.checkoutCard__selector input');
  for (let i=0; i<groupSelectors.length; i++){
    groupSelectors[i].onclick = showGroupOptions;
  }

  const updatePrice = document.querySelectorAll('.checkoutCard__courseCost');
  for (let i=0; i<updatePrice.length; i++){
    updatePrice[i].onblur = calculateTotal;
  }

  document.querySelector('#applyAction').onclick = cancelRefundBookings;

{% endblock %}

{% block javaScript %}
  function calculateTotal(){
    console.log('CALCULATING');
    const totalAmounts = document.querySelectorAll('.js-editPrice');
    let newTotal = Number(0);
    for (let i=0; i<totalAmounts.length; i++){
      console.log(totalAmounts[i].value);
      let intPrice = totalAmounts[i].value.replace('£', '')
      console.log(Number(intPrice));
      newTotal += Number(intPrice);
      console.log(newTotal);
    }
    const textPrice = `£${String(newTotal)}`;
    return textPrice;
  }

  function updatePrice(e){
    const newPrice = e.target.closest('div').querySelector('input').value;
    e.target.closest('div').querySelector('input').value = '';
    e.target.closest('.checkoutCard__courseCost').querySelector('.coursePrice').textContent = `£${newPrice}`;
    document.querySelector('#totalPriceHolder').textContent = calculateTotal();
    e.target.closest('.checkoutCard__courseCost').querySelector('.newCostField').classList.add('hidden');
  }

  function updateTotal(e){
    document.querySelector('#totalPriceHolder').textContent = calculateTotal();
  }

  function cancelRefundBookings(e){
    const action = e.target.closest('.fieldset-standard').querySelector('input:checked').value;
    console.log(e.target.closest('.fieldset-standard').querySelector('input:checked').value);
    const selectedCourses = document.querySelectorAll('.checkoutCard__selector input:checked');
    console.log(selectedCourses);
    switch (action) {
      case 'cancel':
        for (let j = 0; j<selectedCourses.length; j++){
          cancelBooking(selectedCourses[j]);
        }
        break;
      case 'refund':
        for (let j = 0; j<selectedCourses.length; j++){
          refundBooking(selectedCourses[j]);
        }
        break;
    }
  }

  function cancelBooking(checkboxLocation){
    checkboxLocation.closest('.checkoutCard').querySelector('.checkoutCard__information h2 a').classList.add('strikethrough');
  }

  function refundBooking(checkboxLocation){
    checkboxLocation.closest('.checkoutCard').querySelector('.checkoutCard__courseCost p.coursePrice').classList.add('strikethrough');
  }

  function removeStrikethroughs(){
    console.log('begin');

    const cardTitles = document.querySelectorAll('.checkoutCard__information h2 a');

    for (let i=0;i<cardTitles.length;i++){
      cardTitles[i].classList.remove('strikethrough');
    }

    const cardPrices = document.querySelectorAll('.checkoutCard__courseCost p.coursePrice');

    for (let j=0;j<cardPrices.length;j++){
      cardPrices[j].classList.remove('strikethrough');
    }

    document.querySelector('#groupSelectorOptions').classList.add('hidden');
  }

  function removeVoucher(e){
    const voucherHolder = e.target.closest('.checkoutCard').querySelector('.checkoutCard__discountsUsed');
    voucherHolder.querySelector('.voucher').style.display = "none";
    voucherHolder.querySelector('.noDiscountsApplied').style.display = "block";
    e.target.closest('.checkoutCard').querySelector('.coursePrice').textContent = "£220";
    document.querySelector('#totalPriceHolder').textContent = calculateTotal();
    e.target.style.display = "none";
  }

  function showEditPriceField(e){
    e.target.closest('.checkoutCard__courseCost').querySelector('.newCostField').classList.remove('hidden');
  }

  function showGroupOptions(){
    document.querySelector('#groupSelectorOptions').classList.remove('hidden');
  }

  function showChangeDate(){
    document.querySelector('#editOrder-changeDate').classList.remove('hidden');
    document.querySelector('#checkout-paymentMethod button').classList.add('hidden');
  }

  function hideChangeDate(){
    document.querySelector('#editOrder-changeDate').classList.add('hidden');
        document.querySelector('#checkout-paymentMethod button').classList.remove('hidden');
  }

  function addNewDate(){
    const newDate = document.querySelector('#newDate').value;
    document.querySelector('#currentPaymentDate').textContent=newDate;
    document.querySelector('#editOrder-changeDate input').textContent='';
  }

  function storeData(eventName){
    localStorage.setItem('selectedCourseToCancel', eventName);
    displayPopUp('info-cancelEvent');
  }

  function saveData(){
    let editedOrder = {};
    editedOrder.firstCourse = document.querySelector('#course-cost-1').value;
    editedOrder.secondCourse = document.querySelector('#course-cost-2').value;
    editedOrder.paymentMethod = document.querySelector('.fieldset-payments input:checked').value;
    editedOrder.paymentDate = document.querySelector('#currentPaymentDate').innerHTML;
    editedOrder.adminNotes = document.querySelector('.js-adminNotes').value;

    window.localStorage.setItem('editedOrder', JSON.stringify(editedOrder));

    window.location.pathname = '/emb-mockup/editOrder-confirmation/';
  }

{% endblock %}