---
title: Find & Book Activities
---
{% extends "base-layout.njk" %}

{% block main %}
  {% include './_includes/components/basket.njk' %}
  <h1>Find & Book Activities</h1>

  <div class="grid-1-2">
    {% include './_includes/components/searchFilters.njk' %}
    <div>
      <div class="emSearchHeader flexRow marginBotRem">
        <div class="noMargins">
          <input type="search"><button>Search</button>
        </div>
        <div>
          <p class="noMargins voucherRelated">Your vouchers</p>
          {% set courseTitle = "null" %}
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
      </div>
      <div id="searchResults">
        <a href="../test-event-1/">
          <div class="searchResult-card">
            <div>
              <p>SF001</p>
            </div>
            <div>
              <h3>Test Event 1</h3>
              <p>Tutorial</p>
              <p>SkillsForge Offices</p>
            </div>
            <div>
              <p>Places available</p>
              <p>Course cost - £220</p>
              <p class="voucherRelated">You can use your vouchers for this course</p>
            </div>
          </div>
        </a>
        <a href="../test-event-2/">
          <div class="searchResult-card">
            <div>
              <p>SF002</p>
            </div>
            <div>
              <h3>Test Event 2</h3>
              <p>Webinar</p>
              <p>SkillsForge Offices</p>
            </div>
            <div>
              <p>Places available</p>
              <p>Course cost - £1100</p>
              <p class="voucherRelated">You can use your vouchers for this course</p>
            </div>
          </div>
        </a>
        <a href="../test-event-3/">
          <div class="searchResult-card">
            <div>
              <p>SF003</p>
            </div>
            <div>
              <h3>Test Event 3</h3>
              <p>Tutorial</p>
              <p>SkillsForge Offices</p>
            </div>
            <div>
              <p>Places available</p>
              <p>Course cost - £440</p>
              <p class="voucherRelated">You can use your vouchers for this course</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block windowOnLoad %}
{% endblock %}

{% block javaScript %}
{% endblock %}