---
layout: homepage.njk
title: Home
---

<div class='largeBackgroundImage' style="background-image: url('https://www.datocms-assets.com/7860/1573730154-homepage-open-day-buildings.jpg?auto=compress%2Cformat&amp;fm=jpg')">
</div>

<div class='bristolHomeBox'>
  <h1>Welcome to SkillsForge at the University of Bristol</h1>
  <h2>Bristol Medical School Short Course Booking</h2>
  <p>To access SkillsForge, please sign in to your account by clicking one of the options below.</p>
  <a href="./dashboard-student/"><button class='primaryButton' type='button'>Staff and Student Sign-In</button></a>
  <a href="#">External Users</a>
</div>

<div>
  <h2>What is SkillsForge?</h2>
  <p>SkillsForge is a tool for research students, their supervisors and related support staff. You can use SkillsForge to search for and book on your chosen courses. Please contact us if you would like more information. </p>
</div>