---
title: Your orders
---
{% extends "base-layout.njk" %}

{% block main %}
<h1 class="noMargins"><strong>Order #<span>12345678</span></strong></h1>
<p class="noMargins marginBotRem"><span>Joe Lamyman</span> (<a href="#">joe.lamyman@skillsforge.co.uk</a>)</p>

<div class="alert flexRow flow">
  <svg viewBox="0 0 10 11" height="1.5rem" style="padding: 0.15rem 0.5rem;" class="warningIcon" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="5" cy="6" r="5" fill="#000"></circle>
    <path d="M5.8 4.36c0 .54-.02 1.043-.06 1.51-.04.467-.094.94-.16 1.42H4.44a37.29 37.29 0 01-.17-1.42c-.04-.467-.06-.97-.06-1.51V2.57H5.8v1.79zm.13 4.35c0 .293-.097.52-.29.68-.187.16-.4.24-.64.24a.994.994 0 01-.65-.24c-.187-.16-.28-.387-.28-.68 0-.293.093-.52.28-.68.193-.16.41-.24.65-.24.24 0 .453.08.64.24.193.16.29.387.29.68z" fill="#fff"></path>
  </svg>
  <div>
    <h2 class="noMargins">Payment of £1100 due 31st February 2020</h2>
    <p class="noMargins">Payment method: <strong>University of Bristol Online shop</strong></p>
  </div>
</div>

<div class="flow">
  <h2>Quick Actions</h2>
  <div id="quickActionsContainer">
    <button onclick="displayMarkPayment()" class="button-quickActions">Mark payment as received</button>
    <button onclick="displayDueDate()" class="button-quickActions">Change due date</button>
    <button onclick="displayChangePaymentMethod()" class="button-quickActions">Change payment method</button>
    <button class="button-quickActions">Send email</button>
    <a href="../editOrder/" style="display: block; width: 100%; text-decoration: none;"><button style="display: block; width: 100%;" class="button-quickActions">Edit order</button></a>
    <a href="../editOrder/" style="display: block; width: 100%; text-decoration: none;"><button style="display: block; width: 100%;" class="button-quickActions">Cancel or Refund</button></a>
  </div>
  <div id="markPaymentReceivedSection" class="alert hidden">
    <h3>Mark payment as received</h3>
    <p>To mark this payment as received, please submit the following information below.</p>
    <p><em>Please note that only the full payment can be submitted, partial payments cannot be accepted.</em></p>
    <form>
      <label class="label">Date of payment</label>
      <input class="input" type="text">

      <label class="label">Amount paid</label>
      <input class="input" type="text">

      <label class="label">Online shop number (only show if applicable)</label>
      <input class="input" type="text">

      <label class="label">Admin notes (use to record any anomalies and attempts to chase payments)</label>
      <textarea class="input input-textarea" name="" id="" rows="10"></textarea>

      <button class="SfUiButton">Submit</button>
    </form>
  </div>

  <div id="changeDueDateSection" class="alert hidden">
    <h3>Change due date</h3>
    <p>To change the due date, please enter a new date below.</p>
    <p>The current due date is <strong></strong></p>
    <form>
      <label class="label">New due date</label>
      <input class="input" type="text">

      <button class="SfUiButton">Submit</button>
    </form>
  </div>

  <div id="changePaymentMethodSection" class="alert hidden">
    <h3>Change payment method</h3>
    <p>To change the payment method, please select a new payment method below.</p>
    <p>The current payment method is <strong></strong>.</p>
    <form>
      <label class="label">New payment method</label>
      <select class="input" type="text">
        <option value="paymentType-onlineShop">University of Bristol Online Shop</option>
        <option value="paymentType-internalTransfer">Transfer via an internal University of Bristol account</option>
        <option value="paymentType-salesInvoice">Sales invoice</option>
      </select>

      <button class="SfUiButton">Submit</button>
    </form>
  </div>
</div>

<div class="flow">
  <h2>Booked Courses</h2>
  <div>
    <div id="test-event-1" class="checkoutCard checkoutCard-orderscreen" style="display: grid;">
      <div class="checkoutCard__information">
        <h2><a href="../test-event-1/">Test Event 1</a></h2>
        <p>1 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied" style="display: none;">No discounts applied</p>
        <div class="voucher voucherRelated" onclick="useVoucher(this)" data-course="test-event-1" data-applied="false">
          <p class="voucherQuantity">1</p>
          <p class="voucherDiscount">100% discount</p>
          <svg class="voucherExit" viewBox="0 0 100 100">
            <path d="M 5 5 L 95 95 M 95 5 L 5 95"></path>
          </svg>
        </div>
      </div>
      <div class="checkoutCard__courseCost">
        <p>Course cost</p>
        <p class="coursePrice">£0</p>
      </div>
    </div>

    <div id="test-event-2" class="checkoutCard checkoutCard-orderscreen" style="display: grid;">
      <div class="checkoutCard__information">
        <h2><a href="..//test-event-2/">Test Event 2</a></h2>
        <p>5 day course</p>
      </div>
      <div class="checkoutCard__discountsUsed">
        <p>Discount applied</p>
        <p class="noDiscountsApplied">No discounts applied</p>
      </div>
      <div class="checkoutCard__courseCost">
        <p>Course cost</p>
        <p class="coursePrice">£1100</p>
      </div>
    </div>
    <p>Total: £1000</p>
    <hr>
  </div>
</div>

<div class="flow">
  <h2>Transaction details</h2>
  <div id="checkout-fieldsHolder">
    <div id="checkout-overview" class="checkout-sectionHolder checkout-sectionHolder-orderscreen">
      <h3>Contact Information</h3>

      <label for="contactInformation-fullName">Full name</label>
      <input id="contactInformation-fullName" type="text" value="Dr Bris Tol" disabled="">

      <label for="contactInformation-email">Email address</label>
      <input id="contactInformation-email" type="text" value="joe.lamyman@skillsforge.co.uk" disabled="">

      <label for="contactInformation-phone">Contact number</label>
      <input id="contactInformation-phone" type="text" value="01234 567891" disabled="">

      <h3>Your role</h3>

      <label for="role-workType">Type of work</label>
      <input id="role-workType" type="text" value="NIHR Clinical Trust Unit" disabled="">

      <label for="role-jobTitle">Job title</label>
      <input id="role-jobTitle" type="text" value="SkillsForge Supervisor" disabled="">

      <label for="role-org">Organization</label>
      <input id="role-org" type="text" value="SkillsForge" disabled="">

      <label for="role-department">Department</label>
      <input id="role-department" type="text" value="External supplier" disabled="">

      <h3>Address</h3>

      <label for="address-line1">Business Address</label>
      <textarea id="address-line1" type="text" disabled="" style="height: 8.75rem;">
Innovation Centre, Innovation Way
York Science Park
Heslington, York
YO10 5NY
United Kingdom
      </textarea>
    </div>
  </div>
</div>


{% endblock %}

{% block javaScript %}
  function displayMarkPayment(){
    document.querySelector('#changeDueDateSection').classList.add('hidden')
    document.querySelector('#changePaymentMethodSection').classList.add('hidden')

    document.querySelector('#markPaymentReceivedSection').classList.remove('hidden');
  }

  function displayDueDate(){
    document.querySelector('#markPaymentReceivedSection').classList.add('hidden')
    document.querySelector('#changePaymentMethodSection').classList.add('hidden')

    document.querySelector('#changeDueDateSection').classList.remove('hidden');
  }

  function displayChangePaymentMethod(){
    document.querySelector('#changeDueDateSection').classList.add('hidden')
    document.querySelector('#markPaymentReceivedSection').classList.add('hidden')

    document.querySelector('#changePaymentMethodSection').classList.remove('hidden');
  }
{% endblock %}