---
title: Your orders
---
{% extends "base-layout.njk" %}

{% block main %}
  {% include './_includes/components/basket.njk' %}
  <h1>Your orders</h1>

  <h2 id="upcomingOrdersHeading">Your upcoming orders</h2>

  <div id="order3" class="orderSummaryHolder" style="display: none;">
    <h2>Order #<span id="order3-number"></span> Summary</h2>
    <hr>
    <div>
      <div class="svgHeadingHolder">
        <svg viewBox="0 0 100 100" height="2rem" width="2rem">
          <circle cx="50" cy="50" r="40" stroke="black" fill="transparent" stroke-width="6"></circle>
          <text font-weight="800" font-size="4rem" y="72" x="39">!</text>
        </svg>
        <h3>Payment of <span class="order3-total"></span> due on 31st February</h3>
      </div>
      <div id="order3-paymentDetails-onlineShop" class="confirmation-paymentInformation">
        <p>To pay for your order please complete the following.</p>
        <p>Visit the University of Bristol Online shop, <strong>using the this link</strong>, to pay for your order:</p>
        <a href="https://shop.bris.ac.uk/" class="confirmationLink negativeMarginTopRem">https://shop.bris.ac.uk/skillsforge-first-order/hadf9d67sf7/</a>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order3-paymentDetails-internalTransfer" class="confirmation-paymentInformation">
        <p>To pay for your order please transfer <span class="totalPrice"></span> to the following internal account.</p>

        <table class="transferDetails">
          <tbody>
            <tr>
              <td>Account name:</td>
              <td><strong>UoB Internal</strong></td>
            </tr>
            <tr>
              <td>Account number:</td>
              <td><strong>1234 5678</strong></td>
            </tr>
            <tr>
              <td>Account sort code:</td>
              <td><strong>01-23-45</strong></td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td><strong>SCO-3824567</strong></td>
            </tr>
          </tbody>
        </table>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order3-paymentDetails-salesInvoice" class="confirmation-paymentInformation">
        <p>A sales invoice will to the amount of <span class="totalPrice"></span> will be raised shortly and sent to your email address.</p>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
    </div>
    <hr>
    <div id="itemsInBasket">
      <h3>Booked courses</h3>
      <div id="order3-test-event-1" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-1/">Test Event 1</a></h2>
          <p>1 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-1" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-1-cost" class="coursePrice">£220</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
        <a class="editBookingLink" href="../test-event-1/">Edit this booking</a>
      </div>

      <div id="order3-test-event-2" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-2/">Test Event 2</a></h2>
          <p>5 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-2" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-2-cost" class="coursePrice">£1100</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-2">Remove course</button>
        <a class="editBookingLink" href="../test-event-2/">Edit this booking</a>
      </div>

      <div id="order3-test-event-3" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-3/">Test Event 3</a></h2>
          <p>2 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-3" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-3-cost" class="coursePrice">£440</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-3">Remove course</button>
        <a class="editBookingLink" href="../test-event-3/">Edit this booking</a>
      </div>

      <div class="checkoutCard orderSummary totalCard">
        <h4>Order total</h4>
        <div class="checkoutCard__courseCost">
          <p class="totalPrice coursePrice"><span class="order3-total"></span></p>
        </div>
      </div>

    </div>
  </div>

  <div id="order2" class="orderSummaryHolder" style="display: none;">
    <h2>Order #<span id="order2-number"></span> Summary</h2>
    <hr>
    <div>
      <div class="svgHeadingHolder">
        <svg viewBox="0 0 100 100" height="2rem" width="2rem">
          <circle cx="50" cy="50" r="40" stroke="black" fill="transparent" stroke-width="6"></circle>
          <text font-weight="800" font-size="4rem" y="72" x="39">!</text>
        </svg>
        <h3>Payment of <span class="order2-total"></span> due on 31st February</h3>
      </div>
      <div id="order2-paymentDetails-onlineShop" class="confirmation-paymentInformation">
        <p>To pay for your order please complete the following.</p>
        <p>Visit the University of Bristol Online shop, <strong>using the this link</strong>, to pay for your order:</p>
        <a href="https://shop.bris.ac.uk/" class="confirmationLink negativeMarginTopRem">https://shop.bris.ac.uk/skillsforge-first-order/hadf9d67sf7/</a>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order2-paymentDetails-internalTransfer" class="confirmation-paymentInformation">
        <p>To pay for your order please transfer <span class="totalPrice"></span> to the following internal account.</p>

        <table class="transferDetails">
          <tbody>
            <tr>
              <td>Account name:</td>
              <td><strong>UoB Internal</strong></td>
            </tr>
            <tr>
              <td>Account number:</td>
              <td><strong>1234 5678</strong></td>
            </tr>
            <tr>
              <td>Account sort code:</td>
              <td><strong>01-23-45</strong></td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td><strong>SCO-3824567</strong></td>
            </tr>
          </tbody>
        </table>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order2-paymentDetails-salesInvoice" class="confirmation-paymentInformation">
        <p>A sales invoice will to the amount of <span class="totalPrice"></span> will be raised shortly and sent to your email address.</p>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
    </div>
    <hr>
    <div id="itemsInBasket">
      <h3>Booked courses</h3>
      <div id="order2-test-event-1" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-1/">Test Event 1</a></h2>
          <p>1 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-1" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-1-cost" class="coursePrice">£220</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
        <a class="editBookingLink" href="../test-event-1/">Edit this booking</a>
      </div>

      <div id="order2-test-event-2" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-2/">Test Event 2</a></h2>
          <p>5 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-2" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-2-cost" class="coursePrice">£1100</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-2">Remove course</button>
        <a class="editBookingLink" href="../test-event-2/">Edit this booking</a>
      </div>

      <div id="order2-test-event-3" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-3/">Test Event 3</a></h2>
          <p>2 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-3" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-3-cost" class="coursePrice">£440</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-3">Remove course</button>
        <a class="editBookingLink" href="../test-event-3/">Edit this booking</a>
      </div>

      <div class="checkoutCard orderSummary totalCard">
        <h4>Order total</h4>
        <div class="checkoutCard__courseCost">
          <p class="totalPrice coursePrice"><span class="order2-total"></span></p>
        </div>
      </div>

    </div>
  </div>

  <div id="order1" class="orderSummaryHolder" style="display: none;">
    <h2>Order #<span id="order1-number"></span> Summary</h2>
    <hr>
    <div>
      <div class="svgHeadingHolder">
        <svg viewBox="0 0 100 100" height="2rem" width="2rem">
          <circle cx="50" cy="50" r="40" stroke="black" fill="transparent" stroke-width="6"></circle>
          <text font-weight="800" font-size="4rem" y="72" x="39">!</text>
        </svg>
        <h3>Payment of <span class="order1-total"></span> due on 31st February</h3>
      </div>
      <div id="order1-paymentDetails-onlineShop" class="confirmation-paymentInformation">
        <p>To pay for your order please complete the following.</p>
        <p>Visit the University of Bristol Online shop, <strong>using the this link</strong>, to pay for your order:</p>
        <a href="https://shop.bris.ac.uk/" class="confirmationLink negativeMarginTopRem">https://shop.bris.ac.uk/skillsforge-first-order/hadf9d67sf7/</a>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order1-paymentDetails-internalTransfer" class="confirmation-paymentInformation">
        <p>To pay for your order please transfer <span class="totalPrice"></span> to the following internal account.</p>

        <table class="transferDetails">
          <tbody>
            <tr>
              <td>Account name:</td>
              <td><strong>UoB Internal</strong></td>
            </tr>
            <tr>
              <td>Account number:</td>
              <td><strong>1234 5678</strong></td>
            </tr>
            <tr>
              <td>Account sort code:</td>
              <td><strong>01-23-45</strong></td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td><strong>SCO-3824567</strong></td>
            </tr>
          </tbody>
        </table>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
      <div id="order1-paymentDetails-salesInvoice" class="confirmation-paymentInformation">
        <p>A sales invoice will to the amount of <span class="totalPrice"></span> will be raised shortly and sent to your email address.</p>

        <p>If you have any queries or issues, please contact the short course administrators</p>
        <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
      </div>
    </div>
    <hr>
    <div id="itemsInBasket">
      <h3>Booked courses</h3>
      <div id="order1-test-event-1" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-1/">Test Event 1</a></h2>
          <p>1 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-1" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-1-cost" class="coursePrice">£220</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
        <a class="editBookingLink" href="../test-event-1/">Edit this booking</a>
      </div>

      <div id="order1-test-event-2" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-2/">Test Event 2</a></h2>
          <p>5 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-2" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-2-cost" class="coursePrice">£1100</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-2">Remove course</button>
        <a class="editBookingLink" href="../test-event-2/">Edit this booking</a>
      </div>

      <div id="order1-test-event-3" class="checkoutCard orderSummary" style="display: none">
        <div class="checkoutCard__information">
          <h2><a href="/test-event-3/">Test Event 3</a></h2>
          <p>2 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-3" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-3-cost" class="coursePrice">£440</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-3">Remove course</button>
        <a class="editBookingLink" href="../test-event-3/">Edit this booking</a>
      </div>

      <div class="checkoutCard orderSummary totalCard">
        <h4>Order total</h4>
        <div class="checkoutCard__courseCost">
          <p class="totalPrice coursePrice"><span class="order1-total"></span></p>
        </div>
      </div>

    </div>
  </div>
  
  <h2>Your previous orders</h2>

  <div class="orderSummaryHolder">
    <h2>Order #748532 Summary</h2>
    <hr>
    <div>
      <div class="svgHeadingHolder">
        <svg viewBox="0 0 100 100" height="2rem" width="2rem">
          <circle cx="50" cy="50" r="40" stroke="black" fill="transparent" stroke-width="6"></circle>
          <text font-weight="800" font-size="4rem" y="72" x="32">✔</text>
        </svg>
        <h3>Payment of £440 received 04 December 2019</h3>
      </div>
      <p>Payment method: <strong>University of Bristol Online shop</strong></p>
      <p>If you have any queries or issues, please contact the short course administrators</p>
      <a href="#" class="confirmationLink negativeMarginTopRem">short-course@bristol.ac.uk</a>
    </div>
    <hr>
    <div id="itemsInBasket">
      <h3>Booked courses</h3>
      <div class="checkoutCard orderSummary" style="display: grid">
        <div class="checkoutCard__information">
          <h2><a>Initial SkillsForge event</a></h2>
          <p>2 day course</p>
        </div>
        <div class="checkoutCard__discountsUsed">
          <p>Discount applied</p>
          <p class="noDiscountsApplied">No discounts applied</p>
          {% set courseTitle = "test-event-1" %}
          {% set voucherApplied = "true" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div class="checkoutCard__courseCost">
          <p>Course cost</p>
          <p id="test-event-1-cost" class="coursePrice">£440</p>
        </div>
        <div class="checkoutCard__discountsAvailable">
          <p>Available discount</p>
          <p class="noDiscountsAvailable">No discounts available</p>
          {% set voucherApplied = "false" %}
          {% include './_includes/components/voucher.njk' %}
        </div>
        <div>
        </div>
        <button onclick="removeItemFromBasket(this.value)" value="test-event-1">Remove course</button>
        <a class="editBookingLink" href="../test-event-1/">Edit this booking</a>
      </div>

      <div class="checkoutCard orderSummary totalCard">
        <h4>Order total</h4>
        <div class="checkoutCard__courseCost">
          <p class="totalPrice coursePrice">£440</p>
        </div>
      </div>

    </div>
  </div>
</div>
  
{% endblock %}

{% block windowOnLoad %}
  getOrders();
  displayPreviousOrder();
{% endblock %}

{% block javaScript %}
  function getOrders(){
    hideControls();
{# 
    if (window.localStorage.getItem('order1')!==null){
      var firstOrder = JSON.parse(window.localStorage.getItem('order1'));
      var keyNames = Object.keys(firstOrder);
      var sortedKeyNames = [];
      console.log(firstOrder);
      for (let i=0; i < keyNames.length; i++){
        if (keyNames[i].includes("item")){
          sortedKeyNames.push(keyNames[i]);
        }
      }
      for (let i=0; i < sortedKeyNames.length; i++){
        if (firstOrder[sortedKeyNames[i]].title.includes("test-event-")){
          console.log(firstOrder[sortedKeyNames[i]].title);
          document.getElementById(firstOrder[sortedKeyNames[i]].title).style.display = "grid";
        }
      }
    } else {
      document.getElementById('noOrdersMessage').style.display = "block";
    } #}
  }

  function hideControls(){
    var courseCards = document.getElementsByClassName("checkoutCard");
    for (let i=0; i < courseCards.length; i++){
      courseCards[i].classList.add("orderSummary");
    }

    var voucher = window.localStorage.getItem("voucher-event")
    if ((voucher!==null)&&(voucher!=="")){
      var vouchersOnScreen = document.getElementsByClassName('voucher')
      for(let i=0; i < vouchersOnScreen.length; i++){
        if (vouchersOnScreen[i].dataset.course===voucher){
          vouchersOnScreen[i].setAttribute("data-applied", "false");
          vouchersOnScreen[i].previousElementSibling.style.display="none";
        }
      }
      var queryBuilder = voucher + "-cost";
      document.getElementById(queryBuilder).innerHTML = "£0";
    }
  }

  function displayPreviousOrder(){
    console.log("Displaying previous orders");

    if (window.localStorage.getItem('allOrders')!==null){
      var allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
      for (let i=0; i < allOrders.length; i++){
        document.getElementById("order"+(i+1)).style.display = "block";


        var thisObjkeyNames = Object.keys(allOrders[i]);
        console.log("Key names:");
        console.log(thisObjkeyNames);
        for (let j=0; j < thisObjkeyNames.length; j++){
          if (thisObjkeyNames[j].includes("item")){
            var orderedCourseTitle = allOrders[i][thisObjkeyNames[j]].title;
            console.log(orderedCourseTitle);
            let orderedCourseQueryBuilder = "order" + String((i+1)) + "-" + orderedCourseTitle;
            console.log(orderedCourseQueryBuilder);
            document.getElementById(orderedCourseQueryBuilder).style.display = "grid";
            if (allOrders[i][thisObjkeyNames[j]].voucherUsed===true){
              let voucherQueryBuilder = "#order" + String((i+1)) + "-" + orderedCourseTitle + " .checkoutCard__discountsUsed .voucher"
              document.querySelector(voucherQueryBuilder).style.display = "flex";
              document.querySelector(voucherQueryBuilder).setAttribute("data-applied", "false");
              document.querySelector(voucherQueryBuilder).previousElementSibling.style.display="none";
              document.querySelector(voucherQueryBuilder).removeAttribute("onclick");
              let priceQueryBuild = "#order" + String((i+1)) + "-" + orderedCourseTitle + " .checkoutCard__courseCost .coursePrice";
              document.querySelector(priceQueryBuild).innerHTML = "£0";
            }
          } else if (thisObjkeyNames[j].includes("details")){
            var totalSpan = "order" + String((i+1)) + "-number";
            console.log(totalSpan);
            document.getElementById(totalSpan).innerHTML = allOrders[i][thisObjkeyNames[j]].orderNumber;
            console.group(`Payment method for order ${i}`);
            console.log(allOrders[i][thisObjkeyNames[j]].checkoutpaymentMethod);
            let orderPaymentMethod = '';
            switch (allOrders[i][thisObjkeyNames[j]].checkoutpaymentMethod){
              case "onlineShop":
                console.log("Online shop");
                orderPaymentMethod = `order${(i+1)}-paymentDetails-onlineShop`;
                paymentMethod = "University of Bristol Online Shop";
                break;
              case "internalTransfer":
                orderPaymentMethod = `order${(i+1)}-paymentDetails-internalTransfer`;
                console.log("Internal transfer");
                paymentMethod = "Transfer via an internal University of Bristol account";
                break;
              case "salesInvoice":
                orderPaymentMethod = `order${(i+1)}-paymentDetails-salesInvoice`;
                console.log("Sales invoice");
                paymentMethod = "Sales invoice";
            }
            console.log(orderPaymentMethod);
            document.getElementById(orderPaymentMethod).style.display = 'block';
            console.groupEnd(`Payment method for order ${i}`);

            console.log("Totals");
            const priceElementQuery = `order${(i+1)}-total`
            console.log(priceElementQuery);
            const totalCostElements = document.getElementsByClassName(priceElementQuery);
            console.log(totalCostElements);
            for (let x=0; x < totalCostElements.length; x++){
              console.log("Total is:");
              console.log(allOrders[i][thisObjkeyNames[j]].total);
              totalCostElements[x].innerHTML = allOrders[i][thisObjkeyNames[j]].total;
            }
          }
        }
      }    
    } else {
      document.getElementById('upcomingOrdersHeading').style.display = "none";
      console.log("no existing orders");
    }
    hideControls();

    {# console.log("ABOUT TO START");
    var allOrders = JSON.parse(window.localStorage.getItem('allOrders'));
    console.log("Key names:");
    console.log(allOrders[previousOrderNumber-1]);
    var keyNames = Object.keys(allOrders[previousOrderNumber-1]);
    console.log("Key names:");
    console.log(keyNames);

    var orderNumber = allOrders[previousOrderNumber-1][keyNames[1]].orderNumber;
    document.getElementById('topOrderNumber').innerHTML = orderNumber;
    document.getElementById('bottomOrderNumber').innerHTML = orderNumber;

    var bookedCourses = [];
    for (let i=0; i < keyNames.length; i++){
      if (keyNames[i].includes("item")){
        console.log(allOrders[previousOrderNumber-1][keyNames[i]].title);
        bookedCourses.push(allOrders[previousOrderNumber-1][keyNames[i]].title);
        console.log(bookedCourses);
      }
    }
    for (let i=0; i < bookedCourses.length; i++){
      document.getElementById(bookedCourses[i]).style.display = "grid";
    }

    var totalPrice = allOrders[previousOrderNumber-1][keyNames[1]].total;
    var totalPriceHolders = document.getElementsByClassName("totalPrice");
    for(let i=0; i < totalPriceHolders.length; i++){
      totalPriceHolders[i].innerHTML = totalPrice;
    }

    var savedPaymentMethod = allOrders[previousOrderNumber-1][keyNames[1]].checkoutpaymentMethod;
    var paymentMethod = "";
    switch (savedPaymentMethod) {
      case "onlineShop":
        paymentMethod = "University of Bristol Online Shop";
        break;
      case "internalTransfer":
        paymentMethod = "Transfer via an internal University of Bristol account";
        break;
      case "salesInvoice":
        paymentMethod = "Sales invoice";
    }
    document.getElementById("paymentMethod").innerHTML = paymentMethod;
    var queryBuilder = "paymentDetails-" + savedPaymentMethod;
    document.getElementById(queryBuilder).style.display = "block";

    hideControls(); #}
  }
{% endblock %}