---
title: Overview
---
{% extends "basket-layout.njk" %}

{% block main %}
  <input class="backToEvents" action="action" onclick="window.history.go(-1); return false;" type="submit" value="< Back to your basket" />

  {% include './_includes/components/progressIndicator.njk' %}


  <h1>Overview</h1>

  <div class="checkoutDisplay">
  <div id="checkout-fieldsHolder">
    <div id="checkout-overview" class="checkout-sectionHolder">
      <h2>Transaction details</h2>
      <p class="headingTrailingText">Please check that these details are correct</p>

      <h3>Contact Information</h3>

      <label for="contactInformation-fullName">Full name</label>
      <input id="contactInformation-fullName" type="text" value="Dr Bris Tol" disabled>

      <label for="contactInformation-email">Email address</label>
      <input id="contactInformation-email" type="text" value="joe.lamyman@skillsforge.co.uk" disabled>

      <label for="contactInformation-phone">Contact number</label>
      <input id="contactInformation-phone" type="text" disabled>

      <h3>Your role</h3>

      <label for="role-workType">Type of work</label>
      <input id="role-workType" type="text" disabled>

      <label for="role-jobTitle">Job title</label>
      <input id="role-jobTitle" type="text" disabled>

      <label for="role-org">Organization</label>
      <input id="role-org" type="text" disabled>

      <label for="role-department">Department</label>
      <input id="role-department" type="text" disabled>

      <h3>Address</h3>

      <label for="address-line1">Business Address</label>
      <textarea id="address-line1" type="text" disabled></textarea>

      <label for="paymentMethod">Payment Method</label>
      <input id="paymentMethod" type="text" disabled>
      <small id="additionalText" class="headingTrailingText"></small> 
    </div>
    <button onclick="confirmBooking()" class="SfUiButton">Confirm booking</button>
  </div>

    <div id="checkoutPanel">
      <div id="basketSummaryCostList">
        <h3>Basket summary</h3>
        <table border="0" cellspacing="0" >
          <thead>
            <tr>
              <th>Item name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr id="test-event-1-cost">
              <td>Test Event 1</td>
              <td class="cost">220</td>
            </tr>
            <tr id="test-event-1-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£220</td>
            </tr>
            <tr id="test-event-2-cost">
              <td>Test Event 2</td>
              <td class="cost">1100</td>
            </tr>
            <tr id="test-event-2-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£1100</td>
            </tr>
            <tr id="test-event-3-cost">
              <td>Test Event 3</td>
              <td class="cost">440</td>
            </tr>
            <tr id="test-event-3-discount" class="discountRow" style="display: none">
              <td>100% discount applied</td>
              <td>-£440</td>
            </tr>
          </tbody>
        </table>
        <div id="totalHolder">
          <h4>Total price</h4>
          <p id="totalPrice">£1760</p>
        </div>
      </div>
    </div>
  </div>

  {% include './_includes/components/popUps.njk' %}

{% endblock %}

{% block windowOnLoad %}
    voucherCheck();
    checkBasketItemsToDisplay();
    loadInformation();
    updateProgressIndicator("overview");
{% endblock %}

{% block javaScript %}
  {% include './_includes/components/basketSummaryManager.js' %}

  function checkBasketItemsToDisplay(){
    console.log('loaded');

    if (localStorage.getItem('test-event-1') === null) {
      window.localStorage.setItem('test-event-1', 'false');
    }
    if (localStorage.getItem('test-event-2') === null) {
      window.localStorage.setItem('test-event-2', 'false');
    }
    if (localStorage.getItem('test-event-3') === null) {
      window.localStorage.setItem('test-event-3', 'false');
    }
    if (localStorage.getItem('voucher') === null) {
      window.localStorage.setItem('voucher', '0');
      window.localStorage.setItem('voucher-event', '0');
    }

    var itemsInBasket = 0;
    var basketValue = 0;

    var testEvent1_value = window.localStorage.getItem('test-event-1');
    if (testEvent1_value === 'true'){
      document.getElementById("test-event-1-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-1-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-1 in basket");
    } else {
      document.getElementById("test-event-1-cost").style.display = "none";
    }
    var testEvent2_value = window.localStorage.getItem('test-event-2');
    if (testEvent2_value === 'true'){
      document.getElementById("test-event-2-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-2-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-2 in basket");
    } else {
      document.getElementById("test-event-2-cost").style.display = "none";
    }
    var testEvent3_value = window.localStorage.getItem('test-event-3');
    if (testEvent3_value === 'true'){
      document.getElementById("test-event-3-cost").style.display = "table-row";
      basketValue += parseInt(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(document.getElementById("test-event-3-cost").cells[1].innerHTML);
      console.log(basketValue);
      itemsInBasket++;
      console.log("test-event-3 in basket");
    } else {
      document.getElementById("test-event-3-cost").style.display = "none";
    }
    var voucher_value = window.localStorage.getItem('voucher');
    basketValue = basketValue - parseInt(voucher_value);
    if (itemsInBasket===0){
    } else {
      document.getElementById("totalPrice").textContent="£" + basketValue;
    }
  }

  function voucherCheck(){
    var voucher = window.localStorage.getItem('voucher');
    var eventTitle = window.localStorage.getItem('voucher-event');
    console.log(voucher);

    if ((voucher!==null)&&(parseInt(voucher)!==0)) {
      document.getElementById(eventTitle+"-discount").style.display = "table-row";
    }

    checkBasketItemsToDisplay();
  }

  function loadInformation(){
    var phoneInfo = window.localStorage.getItem('contactInformation-phone');
    if (phoneInfo===""){
      var phoneField = document.getElementById("contactInformation-phone");
      phoneField.style.display = "none";
      phoneField.previousElementSibling.style.display = "none";
    } else {
      document.getElementById("contactInformation-phone").value = phoneInfo;
    }
    
    var workInfo = window.localStorage.getItem('role-workType');
    document.getElementById("role-workType").value = workInfo;
    
    var jobInfo = window.localStorage.getItem('role-jobTitle');
    document.getElementById("role-jobTitle").value = jobInfo;
    
    var orgInfo = window.localStorage.getItem('role-org');
    document.getElementById("role-org").value = orgInfo;
    
    var departInfo = window.localStorage.getItem('role-department');
    document.getElementById("role-department").value = departInfo;
    
    var address1Info = window.localStorage.getItem('address-line1');
    var address2Info = window.localStorage.getItem('address-line2');
    var address3Info = window.localStorage.getItem('address-line3');
    var postcodeInfo = window.localStorage.getItem('address-postcode');
    var countryInfo = window.localStorage.getItem('country');
    const lineHeight = 1.35;
    var addressTextAreaHeight = lineHeight * 3; //We know there's always going to be at least 3 address lines: address line 1, postcode and country
    var fullAddress = address1Info;
    if (address2Info!==""){
      fullAddress = fullAddress  + " \n " + address2Info;
      addressTextAreaHeight += lineHeight;
    }
    if (address3Info!==""){
      fullAddress = fullAddress + " \n " + address3Info 
      addressTextAreaHeight += lineHeight;
    }
    fullAddress = fullAddress + " \n " + postcodeInfo + " \n " + countryInfo;
    document.getElementById("address-line1").value = fullAddress;
    var textAreaHeight = String(addressTextAreaHeight) + "rem";
    document.getElementById("address-line1").style.height = textAreaHeight;
    
    var paymentInfo = window.localStorage.getItem('checkout-paymentMethod');
    var paymentMethod = "";
    var paymentDesc = "";
    switch(paymentInfo) {
      case 'onlineShop':
        paymentMethod = "University of Bristol Online Shop";
        paymentDesc = "For immediate payment online via the University online shop";
        break;
      case 'internalTransfer':
        paymentMethod = "Transfer via an internal University of Bristol account";
        paymentDesc = "For staff or internal departments that have a University of Bristol registered internal account";
        break;
      case 'salesInvoice':
        paymentMethod = "Sales invoice";
        paymentDesc = "For users who wish to pay using an alternative method";
    } 
    document.getElementById("paymentMethod").value = paymentMethod;
    document.getElementById("additionalText").innerHTML = paymentDesc;
  }

  function confirmBooking(){
    displayPopUp("info-confirmingSeats");
    setTimeout(function(){hidePopUps("info-confirmingSeats"); window.location.href = "../confirmation/";}, 3000);
    
  }
{% endblock %}