---
title: Test Event 3
---
{% extends "base-layout.njk" %}

{% block main %}
  {% include './_includes/components/basket.njk' %}

  <div class="grid-2-1">
    <div>
      <p class="eventCode">TEST_EVENT_03</p>
      <h1 id="eventName" class="eventName" name="test-event-3">Test Event 3</p>
      <h2 class="eventSubTitle">Summary</h2>
      <p class="eventDesc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.</p>
    </div>
    <div>
      <div class="eventCostHolder">
        <h2>Course cost</h2>
        <p>£440</p>
        <small>2 day course - (£220 per day)</small>
        <p class="voucherRelated"><strong>You have a voucher that you can apply to this course</strong></p>
      </div>
    </div>
  </div>

  <h2 id="subTitleOccurrences" class="eventSubTitle">Available dates</h2>
  <div class="occurence">
    <h3 class="occurrenceTitle">Occurrence 1</h3>
    <div id="occurrence-1" class="sessions" onclick="selectSessions(this.id)">
      <div class="sessionCard">
        <p>19 Apr 2019 09:30-10:30</p>
        <p>Workshop: face-to-face</p>
        <p>Venue: SkillsForge Offices</p>
      </div>
      <div class="sessionCard">
        <p>20 Apr 2019 09:30-10:30</p>
        <p>Workshop: face-to-face</p>
        <p>Venue: SkillsForge Offices</p>
      </div>
    </div>
    <h3 class="occurrenceTitle">Occurrence 2</h3>
    <div id="occurrence-2" class="sessions" onclick="selectSessions(this.id)">
      <div class="sessionCard">
        <p>19 May 2019 09:30-10:30</p>
        <p>Workshop: face-to-face</p>
        <p>Venue: SkillsForge Offices</p>
      </div>
      <div class="sessionCard">
        <p>20 May 2019 09:30-10:30</p>
        <p>Workshop: face-to-face</p>
        <p>Venue: SkillsForge Offices</p>
      </div>
    </div>
  </div>

  {% include './_includes/components/popUps.njk' %}

  {% include './_includes/components/addToBasket.njk' %}

{% endblock %}

{% block windowOnLoad %}
{% endblock %}

{% block javaScript %}
{% endblock %}