@charset "UTF-8";
* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 100vw;
}

h1 {
  margin-top: 0;
  font-weight: normal;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

button {
  background-color: #C30027;
  border: 0px solid;
  color: white;
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-radius: 5px;
  cursor: pointer;
}

header > div:first-of-type {
  background-color: #151A21;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 599px) {
  header > div:first-of-type {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (min-width: 600px) {
  header > div:first-of-type {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (min-width: 1200px) {
  header > div:first-of-type {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
header > div:first-of-type p {
  margin: 0;
  padding-right: 1rem;
  height: 1rem;
}
header > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 599px) {
  header > div:nth-of-type(2) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (min-width: 600px) {
  header > div:nth-of-type(2) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (min-width: 1200px) {
  header > div:nth-of-type(2) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
header > div:nth-of-type(2) nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
header > div:nth-of-type(2) nav ul li {
  padding-left: 3rem;
  padding-right: 3rem;
}
header > div:nth-of-type(2) nav ul li a {
  font-size: 1.125rem;
  color: #151A21;
  text-decoration: none;
  font-weight: 600;
}

footer {
  background-color: #151A21;
  color: white;
  font-size: 0.75rem;
  margin-top: 2.5rem;
}
@media (max-width: 599px) {
  footer {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (min-width: 600px) {
  footer {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (min-width: 1200px) {
  footer {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

input[type=text], input[type=search], input[type=tel], input[list] {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

select {
  font-size: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.hidden {
  display: none;
}

@media (max-width: 599px) {
  .ears {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media (min-width: 600px) {
  .ears {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media (min-width: 1200px) {
  .ears {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

.noMargins, #paymentsDashboard-overview p {
  margin: 0rem;
}

.background-blueUi {
  background-color: #095EB2;
  color: white;
}

.background-blueUi-hover:hover {
  background-color: #05325E;
  color: white;
}

.background-grey {
  background-color: #EBEBEB;
}

.background-greyUi {
  background-color: #e0e0e0;
  color: black;
}

.background-greyUi-hover:hover {
  background-color: #A3A3A3;
  color: black;
}

.straightCorners {
  border-radius: 0px;
}

.standardText {
  font-size: 1rem;
}

.boldText {
  font-weight: 600;
}

.marginTopRem {
  margin-top: 1rem;
}

.negativeMarginTopRem {
  margin-top: -1rem;
}

.marginBotRem {
  margin-bottom: 1rem;
}

.alignCenter {
  margin-left: auto;
  margin-right: auto;
}

.alignLeft {
  margin-left: 0;
  margin-right: auto;
}

.alignRight {
  margin-left: auto;
  margin-right: 0;
}

.flexRow, #paymentsDashboard-overview {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.grid-1-2 {
  display: grid;
}
@media (max-width: 599px) {
  .grid-1-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}
@media (min-width: 600px) {
  .grid-1-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .grid-1-2 {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 5rem;
    margin-bottom: 1rem;
  }
}

.grid-2-1 {
  display: grid;
  display: grid;
}
@media (max-width: 599px) {
  .grid-2-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 600px) {
  .grid-2-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .grid-2-1 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5rem;
    margin-bottom: 1rem;
  }
}

.headingTrailingText {
  margin-top: -1.25rem;
  margin-bottom: 0rem;
  font-size: 0.85rem;
}

.xSmallInput {
  width: 5rem;
}

.smallInput {
  width: 10rem;
}

.mediumInput, .dataTable-search input {
  width: 20rem;
}

.largeInput {
  width: 30rem;
}

select.xSmallInput {
  width: 6rem;
}

select.smallInput {
  width: 11rem;
}

select.mediumInput {
  width: 21rem;
}

select.largeInput {
  width: 31rem;
}

.largeBoldText {
  font-size: 1.5rem;
  font-weight: 700;
}

.alert {
  background-color: #EBEBEB;
  padding: 1rem 1.25rem;
  margin: 0rem 0rem 1.5rem 0rem;
}

.flow + .flow, .flow > div + div {
  margin-top: 1.5rem;
}

.tabbed ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.tabbed ul li a {
  display: inline-block;
  width: 9rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  padding-bottom: 0.2rem;
  color: #095EB2;
}
.tabbed ul li a:hover {
  border-bottom: 0.4rem solid #095EB25E;
}
.tabbed ul li a[aria-selected=true] {
  font-weight: 700;
  border-bottom: 0.4rem solid #095EB2;
  color: #124b83;
}

.SfUiButton {
  background-color: #095EB2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.lockScreenHeight {
  max-height: 100vh;
  overflow-y: hidden;
}

.logoImage {
  width: 9rem;
}

.largeBackgroundImage {
  height: 30vh;
  background-size: cover;
  background-position: center center;
}

.bristolHomeBox {
  background-color: #C30027;
  color: white;
  padding: 2rem;
  margin-bottom: 1.5rem;
  margin-top: -15vh;
}
@media (max-width: 599px) {
  .bristolHomeBox {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media (min-width: 600px) {
  .bristolHomeBox {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media (min-width: 1200px) {
  .bristolHomeBox {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
.bristolHomeBox h1 {
  font-size: 2.125rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}
.bristolHomeBox h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
}
.bristolHomeBox p {
  font-size: 1rem;
  font-color: white;
  font-weight: 600;
}
.bristolHomeBox button {
  background-color: #C30027;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 0.875rem;
  border: 1.5px solid white;
  font-weight: bold;
  cursor: pointer;
}
.bristolHomeBox a {
  display: block;
  padding-top: 1rem;
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 599px) {
  .bristolHomeBox + div {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media (min-width: 600px) {
  .bristolHomeBox + div {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media (min-width: 1200px) {
  .bristolHomeBox + div {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
.bristolHomeBox + div h2 {
  color: #C30027;
  font-size: 2rem;
  font-weight: normal;
}
.bristolHomeBox + div p {
  font-size: 1.125rem;
}

#searchResults a {
  text-decoration: none;
}
#searchResults a .searchResult-card {
  color: black;
  text-decoration: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  background-color: #E0E0E0;
  margin-bottom: 1rem;
}
#searchResults a .searchResult-card div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#searchResults a .searchResult-card div:first-of-type p {
  text-align: center;
  text-decoration: none;
}
#searchResults a .searchResult-card div:nth-of-type(2) p {
  font-size: 0.875rem;
}
#searchResults a .searchResult-card div:nth-of-type(3) p {
  text-align: right;
}
#searchResults a .searchResult-card div:nth-of-type(3) p:first-of-type {
  font-weight: 600;
}
#searchResults a .searchResult-card div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 1.125rem;
}
#searchResults a .searchResult-card div:nth-of-type(3) p:nth-of-type(3) {
  font-size: 0.75rem;
  font-weight: 700;
}
#searchResults a .searchResult-card div h3 {
  margin: 0;
}
#searchResults a .searchResult-card div p {
  margin: 0;
}

.emSearchHeader > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.emSearchHeader > div:first-of-type input {
  width: 75%;
  height: 2rem;
  border: 1px solid #151A21;
  border-right: 0px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.emSearchHeader > div:first-of-type button {
  background-color: #095EB2;
  cursor: pointer;
  height: 2rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.noMarginBottom {
  margin-bottom: 0rem;
}

#basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#basket .basketIcon {
  width: 1.5rem;
  height: 1.5rem;
}
#basket p {
  margin: 0;
  margin-left: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.voucher {
  display: flex;
  flex-direction: row;
  width: max-content;
  padding: 0.15rem;
  background-color: #095EB2;
  border-radius: 45px;
}
.voucher:hover {
  cursor: pointer;
  background-color: #024c95;
}
.voucher p {
  margin: 0rem;
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
}
.voucher p.voucherQuantity {
  background-color: white;
  border-radius: 100%;
}
.voucher p.voucherDiscount {
  color: white;
  padding-left: 0.3rem;
  margin-top: 0rem;
}
.voucher[data-applied=false] p.voucherQuantity {
  background-color: white;
  border-radius: 100%;
}
.voucher[data-applied=false] p.voucherDiscount {
  color: white;
  padding-left: 0.3rem;
  margin-top: 0rem;
}
.voucher[data-applied=false] svg.voucherExit {
  display: none;
}
.voucher[data-applied=true] {
  display: none;
}
.voucher[data-applied=true] p:first-of-type {
  display: none;
}
.voucher[data-applied=true] p:nth-of-type(2) {
  color: white;
  padding-left: 0.65rem;
}
.voucher[data-applied=true] svg.voucherExit {
  width: 0.6rem;
  padding-right: 0.65rem;
}
.voucher[data-applied=true] svg.voucherExit path {
  fill: transparent;
  stroke: white;
  stroke-width: 20;
}

.voucherRelated.noVouchers {
  display: none;
}

.eventCode {
  margin: 0rem;
  font-weight: 300;
}

.eventName {
  font-size: 1.5rem;
  font-weight: 600;
}

.eventSubTitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.eventCostHolder {
  background-color: #E6E6E6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 599px) {
  .eventCostHolder {
    margin-top: 0rem;
  }
}
@media (min-width: 600px) {
  .eventCostHolder {
    margin-top: 0rem;
  }
}
@media (min-width: 1200px) {
  .eventCostHolder {
    margin-top: 4.75rem;
  }
}
.eventCostHolder h2 {
  font-size: 0.75rem;
  margin: 0rem;
}
.eventCostHolder p:first-of-type {
  font-size: 1.25rem;
  margin: 0rem;
}
.eventCostHolder p:nth-of-type(2) {
  font-size: 0.75rem;
  margin: 0rem;
}

.occurence {
  margin-bottom: 1rem;
}
.occurence .sessions {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}
.occurence .sessions .sessionCard {
  display: grid;
  width: 15rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  margin-left: 2rem;
}
.occurence .sessions .sessionCard p {
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.occurence .sessions .sessionCard p:first-of-type {
  background-color: #CCCCCC;
  color: #095EB2;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;
}
.occurence .sessions .sessionCard p:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
.occurence .sessions .sessionCard p:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}
.occurence .sessions.active .sessionCard {
  border: 1px solid #095EB2;
}
.occurence .sessions.active .sessionCard p:first-of-type {
  background-color: #095EB2;
  color: white;
}

.addToBasket {
  margin-bottom: 1rem;
}
.addToBasket button {
  background-color: #095EB2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.addToBasket a {
  margin: 0;
  margin-left: 1rem;
  color: #095EB2;
  text-decoration: underline;
  cursor: pointer;
}

#progressIndicator {
  height: 5rem;
  width: 25rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  margin-right: auto;
}
#progressIndicator .progressSection {
  text-align: center;
}
#progressIndicator .progressSection p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#progressIndicator .progressSection p:first-of-type {
  width: 2rem;
  height: 1.7rem;
  padding-top: 0.3rem;
  border: 0.125rem solid #095EB2;
  background-color: white;
  border-radius: 100%;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#progressIndicator .progressSection p:last-of-type {
  font-size: 0.875rem;
}
#progressIndicator .progressSection.active p:first-of-type {
  background-color: #095EB2;
  color: white;
}
#progressIndicator .progressSection.active p:last-of-type {
  font-weight: 600;
}
#progressIndicator svg.svgLine {
  height: 100%;
  width: 100%;
  margin-top: 1.25rem;
}
#progressIndicator svg.svgLine line {
  stroke: #095EB2;
  stroke-width: 0.375rem;
  stroke-linecap: round;
}

.checkoutDisplay {
  display: grid;
}
@media (max-width: 599px) {
  .checkoutDisplay {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 600px) {
  .checkoutDisplay {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .checkoutDisplay {
    grid-template-columns: 6fr 2fr;
    grid-gap: 10rem;
  }
}

.checkoutCard {
  display: grid;
  height: 7.25rem;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 4rem 3.25rem;
  margin-bottom: 2rem;
}
.checkoutCard p {
  margin: 0;
}
.checkoutCard .checkoutCard__information h2 {
  margin: 0;
  font-size: 1.25rem;
}
.checkoutCard .checkoutCard__information p {
  font-weight: 600;
  font-size: 0.875rem;
}
.checkoutCard .checkoutCard__discountsUsed > p:first-of-type {
  font-size: 1rem;
}
.checkoutCard .checkoutCard__discountsUsed > p:last-of-type {
  margin-top: 0.125rem;
  font-size: 0.875rem;
}
.checkoutCard .checkoutCard__courseCost p:first-of-type {
  font-size: 1rem;
}
.checkoutCard .checkoutCard__courseCost p:last-of-type {
  font-size: 1.25rem;
  font-weight: 400;
}
.checkoutCard button {
  display: block;
  height: 1.5rem;
  width: max-content;
  align-self: center;
  color: #095EB2;
  padding: 0rem;
}
.checkoutCard button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.checkoutCard .editBookingLink {
  display: none;
}
.checkoutCard.confirmation {
  height: 3rem;
}
.checkoutCard.confirmation .checkoutCard__discountsAvailable, .checkoutCard.confirmation button {
  display: none;
}
.checkoutCard.confirmation {
  grid-template-rows: auto;
}
.checkoutCard.confirmation h2 {
  font-size: 1.25rem;
}
.checkoutCard.confirmation .checkoutCard__courseCost {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
}
.checkoutCard.orderSummary {
  height: 7.25rem;
  margin-bottom: 1rem;
  grid-template-columns: 2fr 1fr auto;
}
.checkoutCard.orderSummary .checkoutCard__discountsAvailable {
  display: none;
}
.checkoutCard.orderSummary button {
  display: none;
}
.checkoutCard.orderSummary .editBookingLink {
  display: block;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
}

div.checkoutCard-orderscreen {
  grid-template-rows: 4rem;
  height: 4rem;
}

#basketSummaryCostList {
  background-color: #EBEBEB;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#basketSummaryCostList h3 {
  margin-top: 0rem;
}
#basketSummaryCostList table {
  width: 100%;
}
#basketSummaryCostList table thead th:first-of-type {
  text-align: left;
}
#basketSummaryCostList table thead th:last-of-type {
  text-align: right;
}
#basketSummaryCostList table tbody tr td:last-of-type {
  text-align: right;
}
#basketSummaryCostList table tbody tr td.cost::before {
  content: "£";
}
#basketSummaryCostList #totalHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#basketSummaryCostList #totalHolder h4, #basketSummaryCostList #totalHolder p {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 0rem;
}

.backToEvents {
  background: white;
  border: none;
  font-size: 0.875rem;
  color: #095EB2;
  padding: 0;
}
.backToEvents:hover {
  text-decoration: underline;
  cursor: pointer;
}

#popUpBackground {
  position: absolute;
  background-color: #B7B7B750;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popUpBackground > div {
  background-color: white;
  padding: 1rem;
}
#popUpBackground div#info-addingToBasket div, #popUpBackground div#info-addedItemSuccess div, #popUpBackground div#info-confirmingSeats div, #popUpBackground div#error-mandatoryFields div {
  width: 5rem;
}
#popUpBackground div#info-addingToBasket h3, #popUpBackground div#info-addedItemSuccess h3, #popUpBackground div#info-confirmingSeats h3, #popUpBackground div#error-mandatoryFields h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0rem;
}
#popUpBackground div#info-addingToBasket p, #popUpBackground div#info-addedItemSuccess p, #popUpBackground div#info-confirmingSeats p, #popUpBackground div#error-mandatoryFields p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#popUpBackground div#info-addingToBasket button, #popUpBackground div#info-addedItemSuccess button, #popUpBackground div#info-confirmingSeats button, #popUpBackground div#error-mandatoryFields button {
  display: block;
  background-color: #095EB2;
  color: white;
  text-transform: uppercase;
}

.waitingIndicator {
  fill: white;
  stroke: #095EB2;
  stroke-width: 10;
  stroke-dasharray: 50%;
  stroke-dasharray: 283;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  animation: 1.4s ease-in-out infinite both circle--animation;
}

@keyframes circle--animation {
  0%, 25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
svg.waitingHolder {
  max-width: 5rem;
  animation: 2s linear infinite svg-animation;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
svg.tickHolder {
  max-width: 5rem;
  margin-bottom: -1rem;
}
svg.tickHolder path {
  fill: transparent;
  stroke: #095EB2;
  stroke-width: 10;
  animation: 0.4s ease-out tick-animation;
  stroke-dasharray: 250;
  stroke-linecap: round;
}

@keyframes tick-animation {
  0% {
    stroke-dashoffset: 280;
  }
  100% {
    stroke-dashoffset: 75;
  }
}
.noDiscountsAvailable {
  display: none;
}

.noDiscountApplied {
  display: none;
}

.discountRow {
  background-color: lightblue;
}

div.sf_advSearch {
  padding: 2rem;
  background-color: #f4f4f4;
}
div.sf_advSearch h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
div.sf_advSearch p {
  margin: 0;
  font-weight: 600;
}
div.sf_advSearch div:first-of-type {
  margin-bottom: 1.5rem;
}
div.sf_advSearch details {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
div.sf_advSearch summary {
  color: #095EB2;
  cursor: pointer;
}
div.sf_advSearch summary:hover {
  color: #033A71;
}
div.sf_advSearch input {
  margin-left: 1rem;
}

#checkout-fieldsHolder h3 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
#checkout-fieldsHolder label + input[type=text], #checkout-fieldsHolder label + select, #checkout-fieldsHolder label + input[type=tel] {
  display: block;
}
#checkout-fieldsHolder label {
  font-size: 0.875rem;
}
#checkout-fieldsHolder input[type=text], #checkout-fieldsHolder select, #checkout-fieldsHolder input[type=tel] {
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem grey solid;
}
#checkout-fieldsHolder input[type=text]:active, #checkout-fieldsHolder input[type=text]:target, #checkout-fieldsHolder input[type=text]:focus, #checkout-fieldsHolder select:active, #checkout-fieldsHolder select:target, #checkout-fieldsHolder select:focus, #checkout-fieldsHolder input[type=tel]:active, #checkout-fieldsHolder input[type=tel]:target, #checkout-fieldsHolder input[type=tel]:focus {
  border: 0.1rem #095EB2 solid;
}
#checkout-fieldsHolder input[type=text]:disabled, #checkout-fieldsHolder select:disabled, #checkout-fieldsHolder input[type=tel]:disabled {
  color: black;
  cursor: not-allowed;
}
#checkout-fieldsHolder .checkout-sectionHolder {
  background-color: #EBEBEB;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
#checkout-fieldsHolder .checkout-sectionHolder-orderscreen {
  background-color: white;
  padding: 0;
}
#checkout-fieldsHolder fieldset {
  margin-top: 1.25rem;
  padding: 0;
  border: 0px none transparent;
}
#checkout-fieldsHolder fieldset .paymentOption {
  height: 4rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-content: center;
  border: 1px solid black;
  border-bottom: 0px none transparent;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: 1.4rem auto;
}
#checkout-fieldsHolder fieldset .paymentOption:last-of-type {
  border-bottom: 1px solid black;
}
#checkout-fieldsHolder fieldset .paymentOption input {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin-left: auto;
  margin-right: auto;
}
#checkout-fieldsHolder fieldset .paymentOption label {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  font-size: 1.125rem;
}
#checkout-fieldsHolder fieldset .paymentOption small {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  font-size: 0.85rem;
  font-weight: 300;
}
#checkout-fieldsHolder #checkout-termsAndConditions p {
  margin-bottom: 1.25rem;
}

.mandatory:after {
  content: "*";
  color: red;
}

#checkout-overview.checkout-sectionHolder :disabled {
  width: 100%;
  background-color: transparent;
  border: 0px none transparent;
  font-weight: bold;
  color: black;
  cursor: default;
}
#checkout-overview.checkout-sectionHolder input[type=text]:disabled, #checkout-overview.checkout-sectionHolder select:disabled, #checkout-overview.checkout-sectionHolder input[type=tel]:disabled {
  cursor: default;
}
#checkout-overview.checkout-sectionHolder input[type=text]:disabled:active, #checkout-overview.checkout-sectionHolder select:disabled:active, #checkout-overview.checkout-sectionHolder input[type=tel]:disabled:active {
  border: 0px none transparent;
}
#checkout-overview.checkout-sectionHolder h3 {
  font-size: 1.25rem;
}
#checkout-overview.checkout-sectionHolder textarea {
  height: 6.75rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  resize: none;
}
#checkout-overview.checkout-sectionHolder label[for=paymentMethod] {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
#checkout-overview.checkout-sectionHolder label[for=paymentMethod] + input {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: -0.25rem;
}
#checkout-overview.checkout-sectionHolder small {
  padding-left: 0.5rem;
  font-weight: 300;
}

.orderConfirmation {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.orderConfirmation + h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

a.confirmationLink {
  display: block;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2rem;
}

table.transferDetails td {
  width: 10rem;
}

.confirmation-paymentInformation {
  display: none;
}

.buttonLink {
  display: inline;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.buttonLink:nth-of-type(2) {
  background-color: transparent;
  color: #095EB2;
  font-weight: 600;
}
.buttonLink:nth-of-type(2):hover {
  color: #094784;
  text-decoration: underline;
}

#popUpBackground div#info-addedItemSuccess div.buttonHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#popUpBackground div#info-addedItemSuccess div.buttonHolder button {
  display: inline;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
#popUpBackground div#info-addedItemSuccess div.buttonHolder button:nth-of-type(2) {
  background-color: transparent;
  color: #095EB2;
  font-weight: 600;
}
#popUpBackground div#info-addedItemSuccess div.buttonHolder button:nth-of-type(2):hover {
  color: #094784;
  text-decoration: underline;
}

#paymentsDashboard-overview {
  justify-content: space-between;
  background-color: #EBEBEB;
  padding: 1rem;
}
#paymentsDashboard-overview a {
  display: block;
}

#paymentsDashboard-pending h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}
#paymentsDashboard-pending section {
  background-color: #EBEBEB;
}
#paymentsDashboard-pending div:first-of-type {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#paymentsDashboard-pending div:first-of-type strong {
  font-size: 1.1rem;
}

.orderSummaryHolder {
  background-color: #EBEBEB;
  padding: 2rem;
  margin-bottom: 2rem;
}
.orderSummaryHolder h3 {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.orderSummaryHolder .checkoutCard.totalCard.orderSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.5rem;
  margin-bottom: 0rem;
}
.orderSummaryHolder .checkoutCard.totalCard.orderSummary h4, .orderSummaryHolder .checkoutCard.totalCard.orderSummary p {
  margin: 0;
}

.svgHeadingHolder {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.svgHeadingHolder h3 {
  margin: 0;
  margin-left: 0px;
  vertical-align: center;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.svg-warning {
  height: 1.25rem;
  width: 1.5rem;
}

/*!
 * *
 * * Vanilla-DataTables
 * * Copyright (c) 2015-2017 Karl Saunders (http://mobius.ovh)
 * * Licensed under MIT (http://www.opensource.org/licenses/mit-license.php)
 * *
 * * Version: 1.6.16
 * *
 * */
.dataTable-wrapper {
  background-color: #EBEBEB;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dataTable-wrapper.no-header .dataTable-container {
  border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
  border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
  padding: 8px 10px;
}

.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child {
  float: left;
}

.dataTable-selector {
  padding: 6px;
}

.dataTable-input {
  padding: 6px 12px;
}

.dataTable-info {
  margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
  margin: 0;
  padding-left: 0;
}

.dataTable-pagination li {
  list-style: none;
  float: left;
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #333;
}

.dataTable-pagination a:hover {
  background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #d9d9d9;
  cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}

.dataTable-table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
  vertical-align: top;
  padding: 8px 10px;
}

.dataTable-table > thead > tr > th {
  vertical-align: bottom;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}

.dataTable-table > tfoot > tr > th {
  vertical-align: bottom;
  text-align: left;
  border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
  vertical-align: bottom;
  text-align: left;
}

.dataTable-table th a {
  text-decoration: none;
  color: inherit;
}

.dataTable-sorter {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.2;
}

.dataTable-sorter::before {
  border-top: 4px solid #000;
  bottom: 10px;
}

.dataTable-sorter::after {
  border-bottom: 4px solid #000;
  border-top: 4px solid transparent;
  top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
  opacity: 0.6;
}

.dataTables-empty {
  text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
  clear: both;
  content: " ";
  display: table;
}

.dataTable-container table tr:nth-of-type(odd) {
  background-color: #FAFAFA;
}
.dataTable-container table tr:nth-of-type(even) {
  background-color: white;
}
.dataTable-container table thead tr:first-of-type {
  background-color: white;
}

.dataTable-search input {
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem grey solid;
}
.dataTable-search input:active, .dataTable-search input:target, .dataTable-search input:focus {
  border: 0.1rem #095EB2 solid;
}
.dataTable-search::before {
  content: "Search: ";
}

#batchBookings label + input[list], #batchBookings label[for=course-cost], #batchBookings label[for=user-choice] {
  display: block;
}
#batchBookings label[for=user-choice] + input[list] {
  display: inline;
}
#batchBookings input, #batchBookings select {
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem grey solid;
}
#batchBookings input:active, #batchBookings input:target, #batchBookings input:focus, #batchBookings select:active, #batchBookings select:target, #batchBookings select:focus {
  border: 0.1rem #095EB2 solid;
}
#batchBookings input:disabled, #batchBookings select:disabled {
  color: black;
  cursor: not-allowed;
}
#batchBookings p {
  margin: 0;
}
#batchBookings fieldset {
  margin-top: 0;
  padding: 0;
  border: 0px none transparent;
}
#batchBookings fieldset .paymentOption {
  height: 4rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-content: center;
  border: 1px solid black;
  border-bottom: 0px none transparent;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: 1.4rem auto;
}
#batchBookings fieldset .paymentOption:last-of-type {
  border-bottom: 1px solid black;
}
#batchBookings fieldset .paymentOption input {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin-left: auto;
  margin-right: auto;
}
#batchBookings fieldset .paymentOption label {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  font-size: 1.125rem;
}
#batchBookings fieldset .paymentOption small {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  font-size: 0.85rem;
  font-weight: 300;
}

.warningText {
  color: red;
  font-weight: 700;
}
.warningText .warningIcon {
  height: 1rem;
  width: 1rem;
}

#quickActionsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.5rem;
}

.button-quickActions {
  background-color: #EBEBEB;
  border-radius: 0px;
  color: black;
}

.label + .input {
  display: block;
}

.label {
  font-size: 0.875rem;
}

.input {
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem grey solid;
}
.input:active, .input:target, .input:focus {
  border: 0.1rem #095EB2 solid;
}
.input:disabled {
  color: black;
  cursor: not-allowed;
}

.input-textarea {
  height: 6.75rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.checkoutCard-editOrderScreen {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto 1.5rem;
  height: auto;
}
.checkoutCard-editOrderScreen .checkoutCard__selector {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}
.checkoutCard-editOrderScreen .checkoutCard__selector input {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem auto;
  display: block;
}
.checkoutCard-editOrderScreen .checkoutCard__information {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.checkoutCard-editOrderScreen .checkoutCard__discountsUsed {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.checkoutCard-editOrderScreen .checkoutCard__courseCost {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
}
.checkoutCard-editOrderScreen .checkoutCard__cancelBooking {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.checkoutCard-editOrderScreen .checkoutCard__removeVoucher {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.checkoutCard-editOrderScreen .checkoutCard__refundPayment {
  grid-column: 4/span 1;
  grid-row: 2/span 1;
}

.fieldset-payments {
  margin-top: 1.25rem;
  padding: 0;
  border: 0px none transparent;
}
.fieldset-payments .paymentOption {
  height: 4rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-content: center;
  border: 1px solid black;
  border-bottom: 0px none transparent;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: 1.4rem auto;
}
.fieldset-payments .paymentOption:last-of-type {
  border-bottom: 1px solid black;
}
.fieldset-payments .paymentOption input {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin-left: auto;
  margin-right: auto;
}
.fieldset-payments .paymentOption label {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  font-size: 1.125rem;
}
.fieldset-payments .paymentOption small {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  font-size: 0.85rem;
  font-weight: 300;
}

.text-uppercase {
  text-transform: uppercase;
}

.button-linkStyling {
  height: 1.5rem;
  width: max-content;
  align-self: center;
  background-color: transparent;
  color: #095EB2;
  padding: 0rem 1.5rem;
}
.button-linkStyling:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fieldset-standard {
  border: 0 none;
  padding: 0;
}
.fieldset-standard legend {
  padding: 0;
}
.fieldset-standard > div:first-of-type {
  margin-top: 0.5rem;
}
.fieldset-standard > div + div {
  margin-top: 0.5rem;
}

.strikethrough {
  text-decoration: line-through 0.2rem;
  animation: strike 1s linear 1 forwards;
}

@keyframes strike {
  0% {
    text-decoration-color: transparent;
  }
  100% {
    text-decoration-color: black;
  }
}
.editPriceButton {
  color: white !important;
  padding: 0.5rem 0.75rem !important;
  height: auto !important;
  width: 9rem;
}

.c-editOrder__grid {
  display: grid;
  grid-template-columns: auto auto;
}

.c-editOrder__removeBookingHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.c-editOrder__editPrice {
  width: 5rem;
  background-color: #EBEBEB;
  border: #8C8C8C solid 0.15rem;
  border-radius: 0.2rem;
  padding-left: 1rem !important;
}
.c-editOrder__editPrice:active, .c-editOrder__editPrice:focus {
  background: white;
}
.c-editOrder__editPrice[readonly] {
  border: transparent none 0;
  padding-left: 0rem !important;
}
.c-editOrder__editPrice[readonly]:active, .c-editOrder__editPrice[readonly]:focus {
  background: transparent;
}

.c-editOrder__editPriceLabel {
  font-size: 1.25rem;
}

.c-editOrder__editPriceLabel--price::after {
  content: "£";
  z-index: 999;
  display: inline;
  position: relative;
  right: 11ch;
  font-size: 1rem;
  color: black;
  top: 1.55rem;
}

#totalPriceHolder {
  font-weight: 600;
}

#currentPaymentDate {
  font-weight: 700;
}

.c-editOrder--adminNotes {
  width: 100%;
  height: 4rem;
}
.c-editOrder--adminNotes[readonly] {
  background-color: transparent;
  border: transparent 0 none;
  color: black;
  padding: 0;
  resize: none;
}

.h-mt-1 {
  margin-top: 1rem;
}

.c-editedOrder--paymentMethod[readonly] {
  color: black;
  background-color: transparent;
  border: transparent 0 none;
  padding: 0;
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.c-editOrder--warning {
  display: flex;
  flex-direction: row;
}
.c-editOrder--warning p {
  margin: 0;
  margin-top: 0.15rem;
  font-size: 1.1rem;
}
.c-editOrder--warning svg {
  width: 1.5rem;
  padding-right: 0.5rem;
  margin-top: 0;
  margin-bottom: auto;
}
.c-editOrder--warning svg circle {
  fill: black;
}

.c-editOrder-cancelledBooking {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 0.9rem !important;
}
