$bristol-primary-red: #C30027
$bristol-primary-black: #151A21
$blue-ui-color: #095EB2
$grey-ui-color: #EBEBEB

=paddingSides($padding-side-value)
  padding-left: $padding-side-value
  padding-right: $padding-side-value

=paddingTopBottom($padding-side-value)
  padding-top: $padding-side-value
  padding-bottom: $padding-side-value

=marginSides($margin-side-value)
  margin-left: $margin-side-value
  margin-right: $margin-side-value

=marginTopBottom($margin-side-value)
  margin-top: $margin-side-value
  margin-bottom: $margin-side-value

=standardEars()
  +for-size(phone)
    +paddingSides(2vw)
  +for-size(tablet)
    +paddingSides(5vw)
  +for-size(desktop)
    +paddingSides(15vw)

=marginEars()
  +for-size(phone)
    +marginSides(2vw)
  +for-size(tablet)
    +marginSides(5vw)
  +for-size(desktop)
    +marginSides(15vw)
  

=for-size($size)
  @if $size == phone
    @media (max-width: 599px)
      @content
  @else if $size == tablet
    @media (min-width: 600px)
      @content
  @else if $size == desktop
    @media (min-width: 1200px)
      @content
  
*
  font-family: 'Source Sans Pro', sans-serif

body
  margin: 0
  display: -ms-grid
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr auto
  min-height: 100vh
  max-width: 100vw
  
h1
  margin-top: 0
  font-weight: normal

h2, h3
  margin-top: 0
  margin-bottom: 1rem

h3
  font-size: 1rem

button
  background-color: $bristol-primary-red
  border: 0px solid
  color: white
  font-size: 0.875rem
  +paddingTopBottom(0.25rem)
  +paddingSides(0.875rem)
  border-radius: 5px
  cursor: pointer

header
  & > div:first-of-type
    background-color: $bristol-primary-black
    color: white
    padding: 0.5rem
    +standardEars()
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    p
      margin: 0
      padding-right: 1rem
      height: 1rem
  & > div:nth-of-type(2)
    display: flex
    flex-direction: row
    +standardEars()
    +paddingTopBottom(0.5rem)
    nav
      ul
        list-style: none
        padding: 0
        display: flex
        flex-direction: row
        margin-left: 3rem
        li
          +paddingSides(3rem)
          a
            font-size: 1.125rem
            color: $bristol-primary-black
            text-decoration: none
            font-weight: 600
    
footer
  background-color: $bristol-primary-black
  color: white
  font-size: 0.75rem
  +standardEars()
  margin-top: 2.5rem

input[type="text"], input[type="search"], input[type="tel"], input[list]
  font-size: 1rem
  +paddingSides(0.5rem)

select
  font-size: 1rem
  +paddingSides(0.25rem)

.hidden
  display: none

.ears
  +marginEars()

.noMargins
  margin: 0rem

.background-blueUi
  background-color: $blue-ui-color
  color: white

.background-blueUi-hover:hover
  background-color: #05325E
  color: white

.background-grey
  background-color: $grey-ui-color

.background-greyUi
  background-color: #e0e0e0
  color: black

.background-greyUi-hover:hover
  background-color: #A3A3A3
  color: black

.straightCorners
  border-radius: 0px

.standardText
  font-size: 1rem

.boldText
  font-weight: 600

.marginTopRem
  margin-top: 1rem

.negativeMarginTopRem
  margin-top: -1rem

.marginBotRem
  margin-bottom: 1rem

.alignCenter
  margin-left: auto
  margin-right: auto

.alignLeft
  margin-left: 0
  margin-right: auto

.alignRight
  margin-left: auto
  margin-right: 0

.flexRow
  display: flex
  flex-direction: row

.flexColumn
  display: flex
  flex-direction: column

.spaceBetween
  justify-content: space-between

.spaceAround
  justify-content: space-around

.spaceEvenly
  justify-content: space-evenly

.grid-1-2
  display: grid
  +for-size(phone) 
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-gap: 1rem
  +for-size(tablet) 
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-gap: 1rem
  +for-size(desktop)
    grid-template-columns: 1fr 2fr
    grid-template-rows: 1fr
    grid-gap: 5rem
    margin-bottom: 1rem

.grid-2-1
  display: grid
  display: grid
  +for-size(phone) 
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-gap: 1rem
    margin-bottom: 2rem
  +for-size(tablet) 
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-gap: 1rem
    margin-bottom: 2rem
  +for-size(desktop)
    grid-template-columns: 2fr 1fr
    grid-template-rows: 1fr
    grid-gap: 5rem
    margin-bottom: 1rem

.headingTrailingText
  margin-top: -1.25rem
  margin-bottom: 0rem
  font-size: 0.85rem

.xSmallInput
  width: 5rem

.smallInput
  width: 10rem

.mediumInput
  width: 20rem

.largeInput
  width: 30rem

select.xSmallInput
  width: 6rem

select.smallInput
  width: 11rem

select.mediumInput
  width: 21rem

select.largeInput
  width: 31rem

.largeBoldText
  font-size: 1.5rem
  font-weight: 700

.alert
  background-color: $grey-ui-color
  padding: 1rem 1.25rem
  margin: 0rem 0rem 1.5rem 0rem

.flow + .flow, .flow > div + div
  margin-top: 1.5rem

.tabbed
  ul
    padding-left: 0
    display: flex
    flex-direction: row
    list-style: none
    margin-top: 0
    margin-bottom: 0
    li
      a
        display: inline-block
        width: 9rem
        text-align: center
        text-decoration: none
        color: black
        font-size: 1.25rem
        padding-bottom: 0.2rem
        color: $blue-ui-color
        &:hover
          border-bottom: 0.4rem solid #095EB25E
        &[aria-selected="true"]
          font-weight: 700
          border-bottom: 0.4rem solid $blue-ui-color
          color: #124b83
        

.SfUiButton
  background-color: $blue-ui-color
  +paddingSides(1rem)
  +paddingTopBottom(0.5rem)
  color: white
  cursor: pointer
  text-transform: uppercase

.lockScreenHeight
  max-height: 100vh
  overflow-y: hidden

.logoImage
  width: 9rem

.largeBackgroundImage
  height: 30vh
  background-size: cover
  background-position: center center

.bristolHomeBox
  background-color: $bristol-primary-red
  color: white
  padding: 2rem
  margin-bottom: 1.5rem
  +marginEars()
  margin-top: -15vh
  h1
    font-size: 2.125rem
    font-weight: normal
    margin-bottom: 0.25rem
  h2
    margin: 0
    font-size: 1.25rem
    font-weight: normal
  p
    font-size: 1rem
    font-color: white
    font-weight: 600
  button
    background-color: $bristol-primary-red
    color: white
    +paddingSides(1.5rem)
    +paddingTopBottom(0.8rem)
    font-size: 0.875rem
    border: 1.5px solid white
    font-weight: bold
    cursor: pointer
  a
    display: block
    padding-top: 1rem
    text-decoration: underline
    font-size: 0.875rem
    font-weight: bold
    color: white
    text-decoration: none
    cursor: pointer
  & + div
    +marginEars()
    h2
      color: $bristol-primary-red
      font-size: 2rem
      font-weight: normal
    p
      font-size: 1.125rem

#searchResults
  a
    text-decoration: none
    .searchResult-card
      color: black
      text-decoration: none
      width: 100%
      display: grid
      grid-template-columns: 1fr 2fr 2fr
      grid-template-rows: 1fr
      background-color: #E0E0E0
      margin-bottom: 1rem
      div
        padding: 1rem
        display: flex
        flex-direction: column
        justify-content: center
        &:first-of-type
          p
            text-align: center
            text-decoration: none
        &:nth-of-type(2)
          p
            font-size: 0.875rem
        &:nth-of-type(3)
          p
            text-align: right
            &:first-of-type
              font-weight: 600
            &:nth-of-type(2)
              font-size: 1.125rem
            &:nth-of-type(3)
              font-size: 0.75rem
              font-weight: 700
        h3
          margin: 0
        p
          margin: 0
    
.emSearchHeader
  & > div:first-of-type
    display: flex
    flex-direction: row
    align-items: center
    flex: 1
    input
      width: 75%
      height:2rem
      border: 1px solid $bristol-primary-black
      border-right: 0px solid
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
    button
      background-color: $blue-ui-color
      cursor: pointer
      height: 2rem
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px

.noMarginBottom
  margin-bottom: 0rem

#basket
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  .basketIcon
    width: 1.5rem
    height: 1.5rem
  p
    margin: 0
    margin-left: 0.25rem
    font-size: 0.875rem
    font-weight: 600

.voucher
  display: flex
  flex-direction: row
  width: max-content
  padding: 0.15rem
  background-color: $blue-ui-color
  border-radius: 45px
  &:hover
    cursor: pointer
    background-color: #024c95
  p
    margin: 0rem
    font-size: 0.875rem
    font-weight: 600
    +paddingTopBottom(0.25rem)
    +paddingSides(0.65rem)
    &.voucherQuantity
      background-color: white
      border-radius: 100%
    &.voucherDiscount
      color: white
      padding-left: 0.3rem
      margin-top: 0rem
  &[data-applied="false"]
    p
      &.voucherQuantity
        background-color: white
        border-radius: 100%
      &.voucherDiscount
        color: white
        padding-left: 0.3rem
        margin-top: 0rem
    svg.voucherExit
      display: none
  &[data-applied="true"]
    display: none
    p
      &:first-of-type
        display: none
      &:nth-of-type(2)
        color: white
        padding-left: 0.65rem
    svg.voucherExit
      width: 0.6rem
      padding-right: 0.65rem
      path
        fill: transparent
        stroke: white
        stroke-width: 20
      
.voucherRelated.noVouchers
  display: none

.eventCode
  margin: 0rem
  font-weight: 300

.eventName
  font-size: 1.5rem
  font-weight: 600

.eventSubTitle
  font-size: 1rem
  font-weight: 400
  margin-bottom: 0.5rem

.eventCostHolder
  background-color: #E6E6E6
  +paddingTopBottom(1rem)
  +paddingSides(2rem)
  +for-size(phone)
    margin-top: 0rem
  +for-size(tablet)
    margin-top: 0rem
  +for-size(desktop)
    margin-top: 4.75rem
  h2
    font-size: 0.75rem
    margin: 0rem
  p:first-of-type
    font-size: 1.25rem
    margin: 0rem
  p:nth-of-type(2)
    font-size: 0.75rem
    margin: 0rem

.occurence
  margin-bottom: 1rem
  .sessions
    display: flex
    flex-direction: row
    width: 100%
    overflow: auto
    .sessionCard
      display: grid
      width: 15rem
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, 1fr)
      border-radius: 5px
      border: 1px solid #CCCCCC
      cursor: pointer
      margin-left: 2rem
      p
        margin: 0
        +paddingSides(0.5rem)
        &:first-of-type
          background-color: #CCCCCC
          color: $blue-ui-color
          font-weight: 600
          grid-column: 1
          grid-row: 1
        &:nth-of-type(2)
          grid-column: 1
          grid-row: 2
        &:nth-of-type(3)
          grid-column: 1
          grid-row: 3
    &.active
      .sessionCard
        border: 1px solid $blue-ui-color
        p
          &:first-of-type
            background-color: $blue-ui-color
            color: white

.addToBasket
  margin-bottom: 1rem
  button
    background-color: $blue-ui-color
    +paddingSides(1rem)
    +paddingTopBottom(0.5rem)
    color: white
    cursor: pointer
    text-transform: uppercase
  a
    margin: 0
    margin-left: 1rem
    color: $blue-ui-color
    text-decoration: underline
    cursor: pointer

#progressIndicator
  height: 5rem
  width: 25rem
  display: grid
  grid-template-columns: repeat(5, 1fr)
  margin-left: auto
  margin-right: auto
  .progressSection
    text-align: center
    p
      margin-top: 0.5rem
      margin-bottom: 0.5rem
    p:first-of-type
      width: 2rem
      height: 1.7rem
      padding-top: 0.3rem
      border: 0.125rem solid $blue-ui-color
      background-color: white
      border-radius: 100%
      font-weight: 700
      text-align: center
      margin-left: auto
      margin-right: auto
    p:last-of-type
      font-size: 0.875rem
    &.active
      p:first-of-type
        background-color: $blue-ui-color
        color: white
      p:last-of-type
        font-weight: 600
  svg.svgLine
    height: 100%
    width: 100%
    margin-top: 1.25rem
    line
      stroke:$blue-ui-color
      stroke-width: 0.375rem
      stroke-linecap: round

.checkoutDisplay
  display: grid
  
  +for-size(phone)
    grid-template-columns: 1fr
    grid-gap: 1rem
  +for-size(tablet)
    grid-template-columns: 1fr
    grid-gap: 1rem
  +for-size(desktop)
    grid-template-columns: 6fr 2fr
    grid-gap: 10rem

.checkoutCard
  display: grid
  height: 7.25rem
  width: 100%
  grid-template-columns: 2fr 1fr 1fr
  grid-template-rows: 4rem 3.25rem
  margin-bottom: 2rem
  p
    margin: 0
  .checkoutCard__information
    h2
      margin: 0
      font-size: 1.25rem
    p
      font-weight: 600
      font-size: 0.875rem
  .checkoutCard__discountsUsed
    & > p:first-of-type
      font-size: 1rem
    & > p:last-of-type
      margin-top: 0.125rem
      font-size: 0.875rem
    
  .checkoutCard__courseCost
    p:first-of-type
      font-size: 1rem
    p:last-of-type
      font-size: 1.25rem
      font-weight: 400
  .checkoutCard__discountsAvailable
  button
    display: block
    height: 1.5rem
    width: max-content
    align-self: center
    color: $blue-ui-color
    padding: 0rem
    &:hover
      cursor: pointer
      text-decoration: underline
  .editBookingLink
    display: none
  &.confirmation
    height: 3rem
    .checkoutCard__discountsAvailable, button
      display: none
  &.confirmation
    grid-template-rows: auto
    h2
      font-size: 1.25rem
    .checkoutCard__courseCost
      grid-column: 3 / span 1
      grid-row: 1 / span 1
  &.orderSummary
    height: 7.25rem
    margin-bottom: 1rem
    grid-template-columns: 2fr 1fr auto
    .checkoutCard__discountsAvailable
      display: none
    button
      display: none
    .editBookingLink
      display: block
      grid-column: 3 / span 1
      grid-row: 2 / span 1

div.checkoutCard-orderscreen
  grid-template-rows: 4rem
  height: 4rem
  
#basketSummaryCostList
  background-color: $grey-ui-color
  +paddingSides(1.75rem)
  +paddingTopBottom(1rem)
  h3
    margin-top: 0rem
  table
    width: 100%
    thead
      th:first-of-type
        text-align: left
      th:last-of-type
        text-align: right
    tbody
      tr
        td
          &:last-of-type
            text-align: right
          &.cost
            &::before
              content: '£'     
  #totalHolder
    display: flex
    flex-direction: row
    justify-content: space-between
    h4, p
      font-size: 1.125rem
      font-weight: normal
      margin-bottom: 0rem

.backToEvents
  background: white
  border: none
  font-size: 0.875rem
  color: $blue-ui-color
  padding: 0
  &:hover
    text-decoration: underline
    cursor: pointer

#popUpBackground
  position: absolute
  background-color: #B7B7B750
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  > div
    background-color: white
    padding: 1rem
  div#info-addingToBasket, div#info-addedItemSuccess, div#info-confirmingSeats, div#error-mandatoryFields
    div
      width: 5rem
    h3
      font-size: 1.5rem
      font-weight: 300
      margin: 0rem
    p
      +marginTopBottom(0.5rem)

      font-weight: 600
    button
      display: block
      background-color: $blue-ui-color
      color: white
      text-transform: uppercase

.waitingIndicator
  fill: white
  stroke: $blue-ui-color
  stroke-width: 10
  stroke-dasharray: 50%
  stroke-dasharray: 283
  stroke-linecap: round
  transform-origin: 50% 50%
  animation: 1.4s ease-in-out infinite both circle--animation
 
@keyframes circle--animation
  0%, 25%
    stroke-dashoffset: 280
    transform: rotate(0)
  50%, 75% 
    stroke-dashoffset: 75
    transform: rotate(45deg)
  100%
    stroke-dashoffset: 280
    transform: rotate(360deg)
  
svg.waitingHolder
  max-width: 5rem
  animation: 2s linear infinite svg-animation
  
@keyframes svg-animation
  0%
    transform: rotateZ(0deg)
  100%
    transform: rotateZ(360deg)

svg.tickHolder
  max-width: 5rem
  margin-bottom: -1rem
  path
    fill: transparent
    stroke: $blue-ui-color
    stroke-width: 10
    animation: 0.4s ease-out tick-animation
    stroke-dasharray: 250
    stroke-linecap: round
    
@keyframes tick-animation
  0%
    stroke-dashoffset: 280
  100%
    stroke-dashoffset: 75

.noDiscountsAvailable
  display: none

.noDiscountApplied
  display: none

.discountRow
  background-color: lightblue

div.sf_advSearch
  padding: 2rem
  background-color: #f4f4f4
  h2
    margin: 0
    margin-bottom: 1rem
    font-size: 1.25rem
  p
    margin: 0
    font-weight: 600
  
  div:first-of-type
    margin-bottom: 1.5rem

  details
    +marginTopBottom(0.75rem)

  summary
    color: $blue-ui-color
    cursor: pointer
    &:hover
      color: #033A71

  input
    margin-left: 1rem

#checkout-fieldsHolder
  h3
    margin-top: 1.25rem
    margin-bottom: 1rem
  label + input[type="text"], label + select, label + input[type="tel"]
    display: block
  label
    font-size: 0.875rem
  input[type="text"], select, input[type="tel"]
    height: 1.5rem
    margin-bottom: 1rem
    border-radius: 0.25rem
    border: 0.1rem grey solid
    &:active, &:target, &:focus
      border: 0.1rem $blue-ui-color solid
    &:disabled
      color: black
      cursor: not-allowed
  .checkout-sectionHolder
    background-color: #EBEBEB
    +paddingTopBottom(1rem)
    +paddingSides(2rem)
    margin-bottom: 1rem
  .checkout-sectionHolder-orderscreen
    background-color: white
    padding: 0
  fieldset
    margin-top: 1.25rem
    padding: 0
    border: 0px none transparent
    .paymentOption
      height: 4rem
      background-color: white
      +paddingTopBottom(1rem)
      +paddingSides(0.5rem)
      align-content: center
      border: 1px solid black
      border-bottom: 0px none transparent
      display: grid
      grid-template-columns: 2.5rem 1fr
      grid-template-rows: 1.4rem auto
      &:last-of-type
        border-bottom: 1px solid black
      input
        grid-column: 1 / span 1
        grid-row: 1 / span 1
        +marginSides(auto)
      label
        grid-column: 2 / span 1
        grid-row: 1 / span 1
        font-size: 1.125rem
      small
        grid-column: 2 / span 1
        grid-row: 2 / span 1
        font-size: 0.85rem
        font-weight: 300
  #checkout-termsAndConditions
    p
      margin-bottom: 1.25rem

.mandatory
  &:after
    content: "*"
    color: red


#checkout-overview.checkout-sectionHolder
  :disabled
    width: 100%
    background-color: transparent
    border: 0px none transparent
    font-weight: bold
    color: black
    cursor: default
  input[type="text"], select, input[type="tel"]
    &:disabled
      cursor: default
      &:active
        border: 0px none transparent
  h3
    font-size: 1.25rem

  textarea
    height: 6.75rem
    margin-bottom: 1rem
    +paddingSides(0.5rem)
    resize: none

  label[for="paymentMethod"]
    font-size: 1.25rem
    font-weight: bold
    margin-top: 1.25rem
    margin-bottom: 1rem

  label[for="paymentMethod"] + input
    margin-top: 1rem
    font-size: 1.125rem
    font-weight: normal
    margin-bottom: -0.25rem

  small
    padding-left: 0.5rem
    font-weight: 300

.orderConfirmation
  margin-bottom: 0
  font-size: 1.5rem
  font-weight: 700
  &+ h2
    font-size: 1rem
    font-weight: 500
    margin-bottom: 2rem

a.confirmationLink
  display: block
  font-weight: bold
  text-decoration: underline
  margin-bottom: 2rem

table.transferDetails
  td
    width: 10rem

.confirmation-paymentInformation
  display: none

.buttonLink
  display: inline
  margin-left: 0.2rem
  margin-right: 0.2rem
  &:nth-of-type(2)
    background-color: transparent
    color: $blue-ui-color
    font-weight: 600
    &:hover
      color: #094784
      text-decoration: underline

#popUpBackground div#info-addedItemSuccess
  div.buttonHolder
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    button
      display: inline
      margin-left: 0.2rem
      margin-right: 0.2rem
      &:nth-of-type(2)
        background-color: transparent
        color: $blue-ui-color
        font-weight: 600
        &:hover
          color: #094784
          text-decoration: underline

#paymentsDashboard-overview
  @extend .flexRow
  justify-content: space-between
  background-color: $grey-ui-color
  padding: 1rem
  p
    @extend .noMargins
  a
    display: block

#paymentsDashboard-pending
  h2
    margin-top: 2.5rem
    margin-bottom: 1.5rem
    font-size: 1.25rem
  section
    background-color: #EBEBEB
  div:first-of-type
    +paddingTopBottom(0.25rem)
    +paddingSides(0.5rem)
    strong
      font-size: 1.1rem

.orderSummaryHolder
  background-color: $grey-ui-color
  padding: 2rem
  margin-bottom: 2rem
  h3
    font-weight: 900
    font-size: 1.2rem
    margin-top: 2rem
  .checkoutCard.totalCard.orderSummary
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 1.5rem
    margin-bottom: 0rem
    h4,p
      margin: 0

.svgHeadingHolder
  margin-top: 2rem
  margin-bottom: 1rem
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center
  h3
    margin: 0
    margin-left: 0px
    vertical-align: center
    height: 1.5rem
    margin-left: 0.5rem

.svg-warning
  height: 1.25rem
  width: 1.5rem

/*!
 *
 * Vanilla-DataTables
 * Copyright (c) 2015-2017 Karl Saunders (http://mobius.ovh)
 * Licensed under MIT (http://www.opensource.org/licenses/mit-license.php)
 *
 * Version: 1.6.16
 *
 */
.dataTable-wrapper
  background-color: #EBEBEB
  +paddingSides(0.5rem)

.dataTable-wrapper.no-header .dataTable-container 
  border-top: 1px solid #d9d9d9

.dataTable-wrapper.no-footer .dataTable-container 
  border-bottom: 1px solid #d9d9d9

.dataTable-top,
.dataTable-bottom 
  padding: 8px 10px

.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child 
  float: left

.dataTable-selector 
  padding: 6px


.dataTable-input 
  padding: 6px 12px


.dataTable-info 
  margin: 7px 0


/* PAGER */
.dataTable-pagination ul 
  margin: 0
  padding-left: 0


.dataTable-pagination li 
  list-style: none
  float: left


.dataTable-pagination a 
  border: 1px solid transparent
  float: left
  margin-left: 2px
  padding: 6px 12px
  position: relative
  text-decoration: none
  color: #333

.dataTable-pagination a:hover 
  background-color: #d9d9d9

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover 
  background-color: #d9d9d9
  cursor: default

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover 
  cursor: not-allowed

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover 
  cursor: not-allowed
  opacity: 0.4

.dataTable-pagination .pager a 
  font-weight: bold

.dataTable-table 
  max-width: 100%
  width: 100%
  border-spacing: 0

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th 
  vertical-align: top
  padding: 8px 10px


.dataTable-table > thead > tr > th 
  vertical-align: bottom
  text-align: left
  border-bottom: 1px solid #d9d9d9

.dataTable-table > tfoot > tr > th 
  vertical-align: bottom
  text-align: left
  border-top: 1px solid #d9d9d9


.dataTable-table th 
  vertical-align: bottom
  text-align: left


.dataTable-table th a 
  text-decoration: none
  color: inherit


.dataTable-sorter 
  display: inline-block
  height: 100%
  position: relative
  width: 100%


.dataTable-sorter::before,
.dataTable-sorter::after 
  content: ""
  height: 0
  width: 0
  position: absolute
  right: 4px
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  opacity: 0.2

.dataTable-sorter::before 
  border-top: 4px solid #000
  bottom: 10px

.dataTable-sorter::after 
  border-bottom: 4px solid #000
  border-top: 4px solid transparent
  top: 0px

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before 
  opacity: 0.6

.dataTables-empty 
  text-align: center

.dataTable-top::after, .dataTable-bottom::after 
  clear: both
  content: " "
  display: table

.dataTable-container
  table
    tr
      &:nth-of-type(odd)
        background-color: #FAFAFA
      &:nth-of-type(even)
        background-color: white
    thead
      tr:first-of-type
        background-color: white

.dataTable-search
  input
    @extend .mediumInput
    height: 1rem
    border-radius: 0.25rem
    border: 0.1rem grey solid
    &:active, &:target, &:focus
      border: 0.1rem $blue-ui-color solid
  &::before
    content: "Search: "

#batchBookings
  label + input[list], label[for="course-cost"], label[for="user-choice"] 
    display: block
  label[for="user-choice"] + input[list]
    display: inline
  input, select
    height: 1.5rem
    margin-bottom: 1rem
    border-radius: 0.25rem
    border: 0.1rem grey solid
    &:active, &:target, &:focus
      border: 0.1rem $blue-ui-color solid
    &:disabled
      color: black
      cursor: not-allowed
  p
    margin: 0
  fieldset
    margin-top: 0
    padding: 0
    border: 0px none transparent
    .paymentOption
      height: 4rem
      background-color: white
      +paddingTopBottom(1rem)
      +paddingSides(0.5rem)
      align-content: center
      border: 1px solid black
      border-bottom: 0px none transparent
      display: grid
      grid-template-columns: 2.5rem 1fr
      grid-template-rows: 1.4rem auto
      &:last-of-type
        border-bottom: 1px solid black
      input
        grid-column: 1 / span 1
        grid-row: 1 / span 1
        +marginSides(auto)
      label
        grid-column: 2 / span 1
        grid-row: 1 / span 1
        font-size: 1.125rem
      small
        grid-column: 2 / span 1
        grid-row: 2 / span 1
        font-size: 0.85rem
        font-weight: 300

.warningText
  color: red
  font-weight: 700
  .warningIcon
    height: 1rem
    width: 1rem

#quickActionsContainer
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(2, auto)
  grid-gap: 0.5rem

.button-quickActions
  background-color: $grey-ui-color
  border-radius: 0px
  color: black


.label + .input
  display: block
.label
  font-size: 0.875rem
.input
  height: 1.5rem
  margin-bottom: 1rem
  border-radius: 0.25rem
  border: 0.1rem grey solid
  &:active, &:target, &:focus
    border: 0.1rem $blue-ui-color solid
  &:disabled
    color: black
    cursor: not-allowed
.input-textarea
  height: 6.75rem
  margin-bottom: 1rem
  +paddingSides(0.5rem)

.checkoutCard-editOrderScreen
  grid-template-columns: 2fr 1fr 1fr
  grid-template-rows: auto 1.5rem
  height: auto
  .checkoutCard__selector
    grid-column: 1 / span 1
    grid-row: 1 / span 2
    input
      height: 1.5rem
      width: 1.5rem
      margin: 0.5rem auto
      display: block
  .checkoutCard__information
    grid-column: 1 / span 1
    grid-row: 1 / span 1
  .checkoutCard__discountsUsed
    grid-column: 2 / span 1
    grid-row: 1 / span 1
  .checkoutCard__courseCost
    grid-column: 3 / span 1
    grid-row: 1 / span 1
  .checkoutCard__cancelBooking
    grid-column: 2 / span 1
    grid-row: 2 / span 1
  .checkoutCard__removeVoucher
    grid-column: 2 / span 1
    grid-row: 2 / span 1
  .checkoutCard__refundPayment
    grid-column: 4 / span 1
    grid-row: 2 / span 1

.fieldset-payments
  margin-top: 1.25rem
  padding: 0
  border: 0px none transparent
  .paymentOption
    height: 4rem
    background-color: white
    +paddingTopBottom(1rem)
    +paddingSides(0.5rem)
    align-content: center
    border: 1px solid black
    border-bottom: 0px none transparent
    display: grid
    grid-template-columns: 2.5rem 1fr
    grid-template-rows: 1.4rem auto
    &:last-of-type
      border-bottom: 1px solid black
    input
      grid-column: 1 / span 1
      grid-row: 1 / span 1
      +marginSides(auto)
    label
      grid-column: 2 / span 1
      grid-row: 1 / span 1
      font-size: 1.125rem
    small
      grid-column: 2 / span 1
      grid-row: 2 / span 1
      font-size: 0.85rem
      font-weight: 300

.text-uppercase
  text-transform: uppercase

.button-linkStyling
  height: 1.5rem
  width: max-content
  align-self: center
  background-color: transparent
  color: $blue-ui-color
  padding: 0rem 1.5rem
  &:hover
    cursor: pointer
    text-decoration: underline

.fieldset-standard
  border: 0 none
  padding: 0
  legend
    padding: 0
  & > div:first-of-type
    margin-top: 0.5rem
  & > div + div
    margin-top: 0.5rem
  
.strikethrough
  text-decoration: line-through 0.2rem
  animation: strike 1s linear 1 forwards
  
@keyframes strike
  0%
    text-decoration-color: transparent
  100% 
    text-decoration-color: black

.editPriceButton
  color: white !important
  padding: 0.5rem 0.75rem !important
  height: auto !important
  width: 9rem

.c-editOrder__grid
  display: grid
  grid-template-columns: auto auto

.c-editOrder__removeBookingHolder
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 2rem

.c-editOrder__editPrice
  width: 5rem
  background-color: $grey-ui-color
  border: #8C8C8C solid 0.15rem
  border-radius: 0.2rem
  padding-left: 1rem !important
  &:active, &:focus
    background: white
  &[readonly]
    border: transparent none 0
    padding-left: 0rem !important
    &:active, &:focus
      background: transparent

.c-editOrder__editPriceLabel
  font-size: 1.25rem

.c-editOrder__editPriceLabel--price
  &::after
    content: "£"
    z-index: 999
    display: inline
    position: relative
    right: 11ch
    font-size: 1rem
    color: black
    top: 1.55rem

#totalPriceHolder
  font-weight: 600

#currentPaymentDate
  font-weight: 700

.c-editOrder--adminNotes
  width: 100%
  height: 4rem
  &[readonly]
    background-color: transparent
    border: transparent 0 none
    color: black
    padding: 0
    resize: none

.h-mt-1
  margin-top: 1rem

.c-editedOrder--paymentMethod
  &[readonly]
    color: black
    background-color: transparent
    border: transparent 0 none
    padding: 0
    display: block
    font-size: 1.25rem
    font-weight: 600
    width: 100%

.c-editOrder--warning 
  display: flex
  flex-direction: row
  p
    margin: 0
    margin-top: 0.15rem
    font-size: 1.1rem
  svg
    width: 1.5rem
    padding-right: 0.5rem
    margin-top: 0
    margin-bottom: auto
    circle
      fill: black

.c-editOrder-cancelledBooking
  text-decoration: none
  text-transform: uppercase
  font-weight: 700 !important
  font-size: 0.9rem !important