<div id="addBookingHolder" class="addToBasket">
  <button id="addBookingToBasket" onclick="addToBasket()">Add to basket</button>
</div>

<div>
  <button id="editBooking" class="SfUiButton marginBotRem" onclick="resetBooking()" style="display: none">Edit Booking</button>
  <button id="removeBookingFromBasket" class="SfUiButton marginBotRem buttonLink" onclick="resetBooking()" style="display: none">Remove from basket</button>
</div>


<button id="removeBooking" class="SfUiButton marginBotRem" onclick="" style="display: none">Remove Booking</button>

<script>
  function addToBasket(){
    if ((typeof addedOccurrenceNumber !== 'undefined')&&(addedOccurrenceNumber !== '')){
      console.log("Saving occurrence no: " + addedOccurrenceNumber);
      var eventCode = document.getElementById('eventName').getAttribute('name');
      console.log("Code got: " + eventCode);
      window.localStorage.setItem(eventCode, 'true');
      window.localStorage.setItem(eventCode+"-occurrence", addedOccurrenceNumber);
      console.log(localStorage.getItem(eventCode));
      displayPopUp("info-addingToBasket");
      setTimeout(function(){hidePopUps("info-addingToBasket");displayPopUp("info-addedItemSuccess");}, 3000);
    } else {
      displayPopUp("error-addSession");
      console.log("Error - no occurrence selected");
    }
  }

  function displayAddToBasket(){
    document.getElementById('addBookingHolder').style.display = "block";
    document.getElementById('editBooking').style.display = "none";
    document.getElementById('removeBookingFromBasket').style.display = "none";
  }

  function displayEditBookings(){
    document.getElementById('addBookingHolder').style.display = "none";
    document.getElementById('editBooking').style.display = "inline";
    document.getElementById('removeBookingFromBasket').style.display = "inline";
  }

  function resetBooking(){
    var allOccurrences = document.getElementsByClassName("sessions");
    for (var j=0; j<allOccurrences.length; j++){
      if (allOccurrences[j].classList.contains('active')){
        allOccurrences[j].classList.remove('active');
      } else {
        allOccurrences[j].style.display="flex";
      }
    }

    var occurrenceTitles = document.getElementsByClassName("occurrenceTitle");
    for (var y=0; y<occurrenceTitles.length; y++){
      occurrenceTitles[y].style.display="block";
    }

    document.getElementById('subTitleOccurrences').innerText = "Available dates";
    var eventCode = document.getElementById('eventName').getAttribute('name');
    window.localStorage.setItem(eventCode, 'false');
    window.localStorage.setItem(eventCode+"-occurrence", '');

    displayAddToBasket();
    checkBasket();
  }
</script>