<div>
    <img class="logoImage" src="https://sciencecouncil.org/web/wp-content/uploads/2019/03/University-of-Bristol-logo-Employer-Champion-profile-2.jpg" alt="SkillsForge logo">
    <nav>
      <ul id="navList">
        <li>Checkout</li>
      </ul>
    </nav>
</div>