<svg viewBox="0 0 10 11" class="warningIcon" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="5" cy="6" r="5" fill="#D60000"/>
  <path d="M5.8 4.36c0 .54-.02 1.043-.06 1.51-.04.467-.094.94-.16 1.42H4.44a37.29 37.29 0 01-.17-1.42c-.04-.467-.06-.97-.06-1.51V2.57H5.8v1.79zm.13 4.35c0 .293-.097.52-.29.68-.187.16-.4.24-.64.24a.994.994 0 01-.65-.24c-.187-.16-.28-.387-.28-.68 0-.293.093-.52.28-.68.193-.16.41-.24.65-.24.24 0 .453.08.64.24.193.16.29.387.29.68z" fill="#fff"/>
</svg>