<div>
    <a href="../dashboard-student/"><img class="logoImage" src="https://sciencecouncil.org/web/wp-content/uploads/2019/03/University-of-Bristol-logo-Employer-Champion-profile-2.jpg" alt="SkillsForge logo"></a>
    <nav>
      <ul id="navList">
        <li><a href="../dashboard-student/">Home</a></li>
        <li><a href="../find-and-book-activities/">Course booking</a></li>
        <li><a href="../dashboard-payments/">Payments Dashboard</a></li>
        <li><a href="../orders/">Your orders</a></li>
      </ul>
    </nav>
</div>
