<div id="popUpBackground" style="display: none;">
  <div id="info-cancelEvent" style="display: none;">
    <h3>Cancel event</h3>
    <p>Please confirm that you would like to remove the user's booking on this event</p>
    <button onclick="cancelBookedCourse(this.value)" value="" class="alignCenter SfUiButton">Cancel booking</button>
    <button onclick="hidePopUps(this.value)" value="info-cancelEvent" class="alignCenter SfUiButton button-linkStyling">Don't cancel</button>
  </div>
  <div id="info-refundEvent" style="display: none;">
    <h3>Refund booking?</h3>
    <p>Would you like to remove the payment from this booking? If the user has already paid, a refund may be required.</p>
    <button onclick="refundPayment(this.value)" value="info-refundEvent" class="alignCenter SfUiButton">Remove fee</button>
    <button onclick="hidePopUps(this.value)" value="info-refundEvent" class="alignCenter SfUiButton button-linkStyling">Keep course fee</button>
  </div>
  <div id="error-addSession" style="display: none;">
    <h3>Error</h3>
    <p>Please select the dates you wish to book</p>
    <button onclick="hidePopUps(this.value)" value="error-addSession" class="alignCenter">Ok</button>
  </div>
  <div id="error-mandatoryFields" style="display: none;">
    <h3>Error</h3>
    <p>Please make sure that all mandatory fields have been completed before continuing.</p>
    <button onclick="hidePopUps(this.value)" value="error-mandatoryFields" class="alignCenter">Ok</button>
  </div>
  <div id="info-addingToBasket" style="display: none;">
    <div class="alignCenter">
      <svg class="waitingHolder" viewBox="0 0 100 100">
        <circle class="waitingIndicator" cx="50" cy="50" r="45"/>
      </svg>
    </div>
    <h3>Adding item to basket</h3>
    <p>Please wait while we add the booking to your basket.</p>
  </div>
  <div id="info-addedItemSuccess" style="display: none;">
    <div class="alignCenter">
      <svg class="tickHolder" viewBox="0 0 100 100">
        <path d="M 5 40 L 30 70 L 95 5"/>
      </svg>
    </div>
    <h3>Success!</h3>
    <p>The booking has been added to your basket.</p>
    <div class="buttonHolder">
      <button class="alignCenter" onclick="hideAndCheck('info-addedItemSuccess')">Continue shopping</button>
      <button class="alignCenter" onclick="window.location.href='../basket/'">View my basket</button>
    </div>
  </div>
  <div id="info-confirmingSeats" style="display: none;">
    <div class="alignCenter">
      <svg class="waitingHolder" viewBox="0 0 100 100">
        <circle class="waitingIndicator" cx="50" cy="50" r="45"/>
      </svg>
    </div>
    <h3>Confirming your booking</h3>
    <p>Please wait while we confirm the reservation of your seats.</p>
  </div>
  <div id="info-removingBooking" style="display: none;">
    <div class="alignCenter">
      <svg class="waitingHolder" viewBox="0 0 100 100">
        <circle class="waitingIndicator" cx="50" cy="50" r="45"/>
      </svg>
    </div>
    <h3>Cancelling your reservation</h3>
    <p>Please wait while we cancel your place.</p>
  </div>
  <div id="info-cancelledItemSuccess" style="display: none;">
    <div class="alignCenter">
      <svg class="tickHolder" viewBox="0 0 100 100">
        <path d="M 5 40 L 30 70 L 95 5"/>
      </svg>
    </div>
    <h3>Success!</h3>
    <p>The booking has been cancelled, any vouchers used will be returned.</p>
    <button class="alignCenter" onclick="hideAndCheck('info-cancelledItemSuccess')">Ok</button>
  </div>
</div>

<script>
  function displayPopUp(popUpId){
    document.getElementById(popUpId).style.display="block";
    document.getElementById('popUpBackground').style.display="flex";
    window.scroll(0, 0);
    document.body.classList.add('lockScreenHeight');
  }

  function hidePopUps(popUpId){
    document.getElementById(popUpId).style.display="none";
    document.getElementById('popUpBackground').style.display="none";
    document.body.classList.remove('lockScreenHeight');
  }

  function hideAndCheck(popUpId){
    hidePopUps(popUpId);
    checkBasket();
    displayEditBookings();
  }

  function cancelBookedCourse(popupId){
    const courseToCancel = localStorage.getItem('selectedCourseToCancel');

    const cancelledP = document.createElement('p');
    cancelledP.textContent = "Cancelled booking";
    cancelledP.classList.add('c-editOrder-cancelledBooking');
    console.log(cancelledP);

    document.querySelector('#'+courseToCancel+' .checkoutCard__information h2').style = "text-decoration: line-through;";
    document.querySelector('#'+courseToCancel+' .checkoutCard__information p:first-of-type').style = "text-decoration: line-through;";
    window.localStorage.setItem(courseToCancel+'-cancelled', true);
    document.querySelector('#'+courseToCancel+' .checkoutCard__information').insertAdjacentElement('beforeend', cancelledP);
    document.querySelector('#'+courseToCancel+' + .c-editOrder__removeBookingHolder button').style.display='none';

    hidePopUps('info-cancelEvent');
    displayPopUp('info-refundEvent');
  }

  function refundPayment(popUpId){
    const courseToCancel = localStorage.getItem('selectedCourseToCancel');

    document.querySelector('#'+courseToCancel+' .js-editPrice').value = "0";
    updateTotal();
    hidePopUps('info-refundEvent');
  }
</script>