<div id="progressIndicator">
  <div id="progressIndicator-basket" class="progressSection">
    <p>1</p>
    <p>Basket</p>
  </div>
  <svg class="svgLine"><line x1="4%" y1="0.25em" x2="96%" y2="0.25em"></line></svg>
  <div id="progressIndicator-checkout" class="progressSection">
    <p>2</p>
    <p>Checkout</p>
  </div>
  <svg class="svgLine"><line x1="4%" y1="0.25em" x2="96%" y2="0.25em"></line></svg>
  <div id="progressIndicator-overview" class="progressSection">
    <p>3</p>
    <p>Overview</p>
  </div>
</div>

<script>
  function updateProgressIndicator(newActiveSection){
    var activeProgressIndicator = document.getElementById("progressIndicator-basket");
    activeProgressIndicator.classList.remove("active");
    var elementToMakeActive = "progressIndicator-" + newActiveSection;
    document.getElementById(elementToMakeActive).classList.add("active");
  }
</script>