<div class="sf_advSearch">
  <h2>Search Filters</h2>
  <div>
    <p>By date</p>
    <input type="radio" id="date_finished" value="finished">
    <label for="date_finished">Finished</label>
    <br>
    <input type="radio" id="date_future" value="future">
    <label for="date_future">Ongoing/Future</label>
  </div>
  <details>
    <summary>By activity type</summary>
    <input type="radio" id="activity_tutorial" value="tutorial">
    <label for="activity_tutorial">Tutorial</label>
    <br>
    <input type="radio" id="activity_webinar" value="webinar">
    <label for="activity_webinar">Webinar</label>
  </details>
  <details>
    <summary>By skill type</summary>
    <input type="radio" id="skill_introductory" value="tutorial">
    <label for="skill_introductory">Introductory</label>
  </details>
  <details>
    <summary>By delivery mode</summary>
    <input type="radio" id="deliver_inperson" value="tutorial">
    <label for="deliver_inperson">In person</label>
    <br>
    <input type="radio" id="deliver_online" value="webinar">
    <label for="deliver_online">Online</label>
  </details>
  <details>
    <summary>By training provider</summary>
    <input type="radio" id="provider_skillsforge" value="tutorial">
    <label for="provider_skillsforge">SkillsForge</label>
  </details>

  <button class="straightCorners standardText background-greyUi background-greyUi-hover marginTopRem">Clear filters</button>
  <button class="straightCorners standardText background-blueUi background-blueUi-hover boldText">Apply filters</button>
</div>