<div class="voucher voucherRelated" onclick="useVoucher(this)" data-course={{ courseTitle }} data-applied={{ voucherApplied }} >
  <p class="voucherQuantity">1</p>
  <p class="voucherDiscount">100% discount</p>
  <svg class="voucherExit" viewBox="0 0 100 100">
    <path d="M 5 5 L 95 95 M 95 5 L 5 95"/>
  </svg>
</div>

<script>
  function useVoucher(voucherUsed){
    var courseSelected = voucherUsed.getAttribute('data-course');
    var children = document.querySelector('#' + courseSelected).children;
    if (voucherUsed.getAttribute('data-applied')==="false"){
      console.log("I want to add a voucher");
      console.log(voucherUsed.getAttribute('data-course'));
      console.log(children);
      var appliedVoucher = children[1].getElementsByClassName('voucher');
      console.log(appliedVoucher[0]);
      appliedVoucher[0].style.display = "flex";
      voucherUsed.style.display = "none";
      var remainingVouchers = document.getElementsByClassName('voucher');
      for (var i=0; i<remainingVouchers.length; i++){
        if (remainingVouchers[i].getAttribute('data-applied')==="false"){
          remainingVouchers[i].style.display = "none";
        }
      }
      var availableDiscountsHeadings = document.getElementsByClassName('noDiscountsAvailable');
      for (var j=0; j<availableDiscountsHeadings.length; j++){
        availableDiscountsHeadings[j].style.display = "block";
      }
      var courseSelectedNoDiscountsAppliedLabel = children[1].getElementsByClassName('noDiscountsApplied');
      courseSelectedNoDiscountsAppliedLabel[0].style.display = "none";
      priceManager(courseSelected, true);
    } else if (voucherUsed.getAttribute('data-applied')==="true"){
      voucherUsed.style.display = "none";
      var hiddenVouchers = document.getElementsByClassName('voucher');
      for (var i=0; i<hiddenVouchers.length; i++){
        if (hiddenVouchers[i].getAttribute('data-applied')==="false"){
          hiddenVouchers[i].style.display = "flex";
        }
      }
      var hiddenAvailableDiscountsHeadings = document.getElementsByClassName('noDiscountsAvailable');
      for (var j=0; j<hiddenAvailableDiscountsHeadings.length; j++){
        hiddenAvailableDiscountsHeadings[j].style.display = "none";
      }
      var appliedDiscountsHeadings = document.getElementsByClassName('noDiscountsApplied');
      for (var j=0; j<appliedDiscountsHeadings.length; j++){
        appliedDiscountsHeadings[j].style.display = "block";
      }
      priceManager(courseSelected, false);
    }
  }
</script>